.shop{
    padding-left: 145px;
    padding-right: 145px;
    padding-top: 60px;
    position: relative;
}

.shop-title{
    @extend %title
}

.shop-disable-filter{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
    top: 60px;
    transform: translateX(-100%);
    width: 147px;
    height: 59px;
    border: 1px solid $main-text-color;
    border-radius: 14px;
    background-color: transparent;
}

.shop-disable-filter-text{
    font-family: 'Gill Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
    color: $main-text-color;
    margin-right: 10px;
}

.shop-feed-type-filter{
    display: flex;
    margin-top: 60px;
}

.shop-feed-type-list{
    display: flex;
}

.shop-filter-item{
    display: flex;
    margin-top: 14px;
}

.shop-filter-button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 160px;
    height: 59px;
    border: 1px solid #B3B2B2;
    border-radius: 14px;
    background-color: transparent;

    &.active-button{
        background-color: #B57B49;
        border-color: #B57B49;
    }

    &:first-child{
        margin-right: 30px;
    }
}

.shop-filter-title{
    font-family: 'Gill Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: $main-text-color;
}

.shop-feed-type-filter-select{
    display: flex;
    flex-direction: column;
}

.shop-filter-select{
    width: 350px;
    height: 59px;
    margin-top: 14px;
    padding-left: 30px;
    padding-right: 30px;
    font-family: 'Gill Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #525051;
    border: 1px solid #B3B2B2;
    border-radius: 14px;
    background-color: transparent;
    appearance: none;
    background-image: url(../../../images/arrow-down.png);
    background-repeat: no-repeat;
    background-position: calc(100% - 30px) center;
}

.filter-button-text{
    font-family: 'Gill Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #525051;

    .active-button & {
        color: #FFFFFF; 
    }
}

.shop-filter-button-icon{
    margin-right: 10px;
    
    &-dog{
        margin-right: 10px;
        fill: #B57B49;

        .active-button & {
            fill: #FFFFFF;
        }
    }

    &-cat{
        margin-right: 10px;
        fill: #81C3D7;

        .active-button & {
            fill: #FFFFFF;
        }
    }

}

.shop-price-wrap{
    margin-left: 30px;
}

.shop-filter-input-group{
    display: flex;
    margin-top: 14px;
}

.filter-price-input{
    width: 160px;
    height: 59px;
    background-color: #FFFFFF;
    border-radius: 14px;
    font-family: 'Gill Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #525051;
    border: none;
    text-align: center;
    margin-left: 30px;
}

.filter-frice-slider-wrap{
    width: 350px;
    height: 59px;
    background-color: transparent;
    border: 1px solid #B3B2B2;
    border-radius: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.filter-frice-slider{
    width: 290px;
    height: 3px;
    background-color: #FFFFFF;

    &::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;
            width: 25px;
            height: 25px;
            border-radius: 50%;
            background: #04AA6D;
            cursor: pointer;
        }

    &::-moz-range-thumb {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background: #04AA6D;
        cursor: pointer;
    }
}

.shop-confirm-button{
    width: 160px;
    height: 59px;
    background-color: #7CB227;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 14px;
    margin-left: 30px;
}

.shop-confirm-button-text{
    font-family: 'Gill Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}

.shop-coast-group{
    display: flex;
    align-items: flex-end;
    margin-top: 30px;
}

.shop-products-list{
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product-card {
    display: block;
    position: relative;
    width: 350px;
    height: 814px;

    &:nth-child(n+4){
        margin-top: 30px;
    }
}

.product-card-image {
    display: block;
    width: 350px;
    height: 420px;
    border-radius: 40px;
    background-color: $card-color;
}

.product-card-title {
    margin-top: 30px;
    font-family: 'Gill Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    color: $main-text-color;
}

.product-card-rating-wrap {
    display: flex;
    align-items: center;
    margin-top: 16px;
}

.product-card-rating {
    display: flex;
}

.product-card-rating-item:not(:first-child) {
    margin-left: 5px;
}

.product-card-reviews {
    font-family: 'Gill Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 18px;
    color: $main-text-color;
    margin-left: 16px;
}

.product-card-text {
    margin-top: 16px;
    font-family: 'Gill Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 35px;
    color: $main-text-color;
}

.product-card-meta-wrap {
    position: absolute;
    bottom: 0;
}

.product-card-meta {
    display: flex;
}

.product-card-meta-type {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 143px;
    height: 59px;
    background-color: $secondary-text-color;
    border-radius: 14px;
}

.product-card-meta-type-dog {
    fill: $notificatins-color;
    margin-right: 10px;
}

.product-card-meta-type-cat {
    fill: $image-background;
    margin-right: 10px;
}

.product-card-meta-text {
    font-family: 'Gill Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: $main-text-color;
}

.product-card-meta-weight {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 193px;
    height: 59px;
    margin-left: 14px;
    border: none;
    border-radius: 14px;
    background-color: $secondary-text-color;
}

.product-card-meta-weight-text {
    font-family: 'Gill Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: $main-text-color;
    margin-left: 10px;
    margin-right: 17px;
}

.product-card-buy {
    display: flex;
    width: 100%;
    height: 59px;
    border: none;
    border-radius: 14px;
    background-color: $buttons-color;
    margin-top: 14px;
    padding-left: 30px;
    padding-right: 30px;
    align-items: center;
    justify-content: space-between;
}

.product-card-buy-prev-price {
    font-family: 'Gill Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    opacity: 0.5;
    text-decoration-line: line-through;
    margin-right: 10px;
}

.product-card-buy-price {
    font-family: 'Gill Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: $secondary-text-color;
}

.product-card-buy-inner-wrap {
    display: flex;
    align-items: center;
}

.product-card-buy-icon {
    stroke: $secondary-text-color;
    margin-right: 11px;
}

.product-card-buy-text {
    font-family: 'Gill Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: $secondary-text-color;
}

.popular-slider {
    display: flex;
    justify-content: center;
    margin-top: 66px;
}

.popular-slider-point {
    display: block;
    position: relative;
    width: 14px;
    height: 14px;
    background-color: #B3B2B2;
    border-radius: 100%;

    &:not(:first-child) {
        margin-left: 14px;
    }
}

.popular-slider-active {
    position: absolute;
    width: 22px;
    height: 22px;
    border: 1px solid #B3B2B2;
    border-radius: 100%;
    left: -29%;
    top: -28%;
}

.product-card-meta-type-notification-rectangle {
    width: 10px;
    height: 10px;
    bottom: -5px;
    left: 48%;
    transform: rotate(45deg);
    position: absolute;

    &.dog {
        background-color: #B57B49;
    }

    &.cat {
        background-color: #81C3D7;
    }
}

.product-card-meta-type-notification-text {
    font-family: 'Gill Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}

.product-card-meta-type-notification {
    width: 131px;
    height: 59px;
    border-radius: 14px;
    position: absolute;
    top: -21px;
    transform: translateY(-100%);
    // display: flex;
    // align-items: center;
    // justify-content: center;
    display: none;

    &.dog {
        background-color: #B57B49;
    }

    &.cat {
        background-color: #81C3D7;
    }

    .product-card-meta-type:hover & {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.product-card-new-product {
    position: absolute;
    left: 30px;
    top: 30px;
    width: 122px;
    height: 34px;
    background-color: #F6B626;
    border-radius: 10px;
    font-family: 'Gill Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-card-hit{
    position: absolute;
    left: 30px;
    top: 30px;
    width: 151px;
    height: 34px;
    background-color: #81C3D7;
    border-radius: 10px;
    font-family: 'Gill Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-card-not-available{
    position: absolute;
    left: 30px;
    top: 30px;
    width: 191px;
    height: 34px;
    background-color: #B57B49;
    border-radius: 10px;
    font-family: 'Gill Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-card-meta-weight-variants {
    position: absolute;
    border-radius: 0px 0px 14px 14px;
    overflow: hidden;
    background-color: #FFFFFF;
    right: 0;
    bottom: -33%;
    z-index: 999;
}

.product-card-meta-weight-variants-item {
    width: 193px;
    background-color: #FFFFFF;
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 20px;

    &:hover {
        background-color: rgba(82, 80, 81, 0.1);
    }
}

.shop-pagination{
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}

.shop-pagination-button{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 14px;
    background-color: #FFFFFF;
    border: none;
}

.number-of-pages:not(:first-child){
 margin-left: 20px;
}

.shop-pagination-numbers-list{
    display: flex;
}

.left{
    background-image: url(../../../images/left-arrow.png);
    background-repeat: no-repeat;
    background-position: center;
}

.right{
    background-image: url(../../../images/rigght-arrow.png);
    background-repeat: no-repeat;
    background-position: center;
}

.shop-option-value{
    font-family: 'Gill Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #525051;
    background-color: #F4F4ED;
    padding-top: 20px;
    padding-bottom: 20px;
}