@import '../base';
@import '../index/popular';
@import '../checkout/checkout';

.shop{
    padding-left: 145px;
    padding-right: 145px;
    padding-top: 60px;
    position: relative;

    @media (max-width: 1139px){
        padding-left: 30px;
        padding-right: 30px;
    }

    @media (max-width: 767px){
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 30px;
    }
}

.shop-title{
    @extend %title
}


.shop-filter-item{
    display: flex;
    flex-direction: column;

    @media (max-width: 1139px){
        flex-direction: row;
    }
}

.shop-filter-button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 59px;
    border: 1px solid #B3B2B2;
    border-radius: 14px;
    background-color: transparent;

    &.active-button{
        background-color: #B57B49;
        border-color: #B57B49;
    }

    @media (max-width: 1139px){
        width: 330px;
    }

    @media (max-width: 767px){
        width: 158px;
        height: 47px;
    }

}


.filter-button-text{
    font-family: 'Gill Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #525051;

    .active-button & {
        color: #FFFFFF; 
    }

    @media (max-width: 767px){
        font-size: 14px;
            line-height: 17px;
    }
}

.shop-filter-button-icon{
    margin-right: 10px;
    
    &-dog{
        margin-right: 10px;
        fill: #B57B49;

        .active-button & {
            fill: #FFFFFF;
        }
    }

    &-cat{
        margin-right: 10px;
        fill: #81C3D7;

        .active-button & {
            fill: #FFFFFF;
        }
    }

}

.shop-coast-group{
    display: flex;
    align-items: flex-end;
    margin-top: 30px;
}

.shop-products-list{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.shop-product-card {
    display: block;
    position: relative;
    width: 255px;
    height: 743px;

    &:nth-child(n+4){
        margin-top: 30px;

        @media (max-width: 1139px) {
            margin-top: 0;
        }
    }

    @media (max-width: 1139px) {
        width: 330px;
        height: 814px;

        &:nth-child(n+3){
        margin-top: 30px;
        }
    }

    @media (max-width: 767px){
        width: 164px;
        height: 480px;
    }
}

.shop-product-card-image {
    @extend .product-card-image;
    height: 307px;
    border-radius: 40px;

    @media (max-width: 1139px){
        height: 420px;
    }

    @media (max-width: 767px){
        height: 182px;
        border-radius: 20px;
    }
}



.shop-product-card-meta-weight-variants-item {
    @extend .product-card-meta-weight-variants-item;
    width: 124px;
    @media (max-width: 767px){
        width: 164px;
    }
}

.shop-pagination{
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    align-items: center;
}

.shop-pagination-button{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 14px;
    background-color: #FFFFFF;
    border: none;
}

.number-of-pages{
    @media (max-width: 767px){
        display: none;
    }
}

.number-of-pages:not(:first-child){
 margin-left: 20px;
}

.shop-pagination-numbers-list{
    display: flex;
}

.left{
    background-image: url(../../../images/left-arrow.png);
    background-repeat: no-repeat;
    background-position: center;
}

.right{
    background-image: url(../../../images/rigght-arrow.png);
    background-repeat: no-repeat;
    background-position: center;
}

.shop-option-value{
    padding-left: 30px;
    font-family: 'Gill Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #525051;
    background-color: #F4F4ED;
    padding-top: 20px;
    padding-bottom: 20px;

    &:hover{
        background-color: rgba(82, 80, 81, 0.1);
    }
}

.shop-option-values{
    border: 1px solid #B3B2B2;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.1);
    border-radius: 14px;
    overflow: hidden;
    width: 350px;
    position: absolute;
    // transform: translateY(calc(100% + 1px));
    top: 33px;
    right: 0;
    z-index: 999;
    background-color: #F4F4ED;
}

.shop-products{
    width: 825px;

    @media (max-width: 1139px){
        width: 100%;
    }
}

 
.shop-checkout-select-button {
    @extend .checkout-select-button;
    padding-left: 26px;
    padding-top: 12px;
    padding-bottom: 12px;
        @media (max-width: 767px) {
                height: 47px;
                padding-left: 12px;
                border: none;
            }

}


.shop-checkout-select-button-text {
    @extend .checkout-select-button-text;
    @media (max-width: 767px){
        font-size: 14px;
            line-height: 17px;
    }
}

.shop-checkout-select-button-icon {
    @extend .checkout-select-button-icon;
    @media (max-width: 767px){
        transform: translateY(-50%);
    }
}

.shop-checkout-select-values-wrap {
    @extend .checkout-select-values-wrap;

    @media (max-width: 767px){
        padding-left: 12px;
    }
}

.shop-checkout-select {
    position: relative;
    width: 255px;
    @media (max-width: 767px){
        width: 50%;
    }
}

.shop-products-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.shop-products-head-title{
    font-family: 'Gill Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 35px;
        color: #B3B2B2;

        @media (max-width: 767px){
            font-size: 14px;
                line-height: 17px;
        }
}

.shop-main{
    display: flex;
    justify-content: space-between;
    margin-top: 60px;

    @media (max-width: 1139px){
        flex-direction: column;
        margin-top: 30px;
        padding-top: 30px;
        border-top: 1px solid rgba(82, 80, 81, 0.1);
        width: 690px;
    }

    @media (max-width: 767px){
        width: 346px;
    }
}

.shop-filter{
    width: 255px;

    @media (max-width: 1139px){
        width: 100%;
        display: none;
    }
}

.shop-filter-title{
    display: block;
    margin-top: 12px;
    margin-bottom: 42px;
    font-family: 'Gill Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 35px;
        color: #525051;

        @media (max-width: 1139px){
            display: none;
        }
}

.shop-filter-item-item{
    &:not(:first-child){
        margin-top: 14px;

        @media (max-width: 1139px){
            margin-top: 0;
            margin-left: 30px;
        }
    }
}

.input-container{
    display: flex;
    align-items: center;
        position: relative;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
}

.input-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    // position: absolute;
    top: 0;
    left: 0;
    height: 21px;
    width: 21px;
    border: 1px solid #525051;
        border-radius: 5px;
}

// .input-container input:checked~.checkmark {
//     background-color: #2196F3;
// }

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.input-container input:checked~.checkmark:after {
    display: block;
}

.input-container .checkmark:after {
    top: 5px;
    left: 5px;
    width: 11px;
    height: 11px;
    background: #7CB227;
        border-radius: 2px;
}

.filter-parametrs{
    margin-top: 30px;

    @media (max-width: 1139px){
        display: flex;
        flex-wrap: wrap;
    }

    @media (max-width: 767px){
        display: block;
        width: 346px;
        position: relative;
    }
}

.filter-parametr-title{
    font-family: 'Gill Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        color: #B3B2B2;

        @media (max-width: 767px){

        }
}

.input-container-wrap{
    margin-top: 14px;
}

.input-container:not(:first-child){
    margin-top: 14px;
}

.checkbox-title{
    margin-left: 12px;
    font-family: 'Gill Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        color: #525051;

        @media (max-width: 767px){
            font-size: 14px;
                line-height: 17px;
        }
}

.filter-parametr{
    @media (max-width: 1139px){
        width: 40%;
    }

    @media (max-width: 767px){
        width: 50%;

        &:nth-child(2){
            position: absolute;
            top: 0;
            left: 55%;
        }

        &:nth-child(3){
            padding-top: 30px;
        }

        &:nth-child(4){
            padding-top: 30px;
        }
    }
}

.filter-parametr:not(:first-child){
    margin-top: 30px;

    @media (max-width: 1139px) {
        margin-top: 0;

        &:nth-child(2n){
            margin-left: 80px;
        }

        &:nth-child(n+3){
            margin-top: 30px;
        }
    }

    @media (max-width: 767px){
                &:nth-child(2n) {
                        margin-left: 0;
                    }
                
                    &:nth-child(n+3) {
                        margin-top: 0;
                    }
    }
}

.filter-price{
        margin-top: 30px;

        @media (max-width: 1139px){
            width: 330px;
        }
}

.filter-price-text-wrap{
    display: flex;
    justify-content: space-between;
}

.filter-price-text{
    font-family: 'Gill Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        color: #B3B2B2;
}

.filter-price-inputs{
            display: flex;
                align-items: center;
                justify-content: space-between;
                margin-top: 14px;
}

.filter-price-inputs-point{
    display: block;
    width: 25px;
    height: 1px;
    background-color: #B3B2B2;
    border-radius: 1px;
}

.price-input{
    width: 95px;
    height: 59px;
    background-color: #FFFFFF;
    border-radius: 14px;
    border: none;
    font-family: 'Gill Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        color: #525051;
        text-align: center;

        @media (max-width: 1139px){
            width: 119px;
        }
}

@mixin range-slider($width, $height, $input-top, $input-bg-color, $input-thumb-color, $float: none, $input-height: 20px, $input-border-radius: 14px) {
    position: relative;
    width: $width;
    height: $height;
    float: $float;
    text-align: center;

    input[type="range"] {
        pointer-events: none;
        position: absolute;
        -webkit-appearance: none;
        -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
        border: none;
        border-radius: $input-border-radius;
        background: #FFFFFF;
        overflow: visible;
        left: 0;
        top: $input-top;
        width: $width;
        outline: none;
        height: 4px;
        margin: 0;
        padding: 0;
    }

    input[type="range"]::-webkit-slider-thumb {
        pointer-events: all;
        position: relative;
        z-index: 1;
        outline: 0;
        -webkit-appearance: none;
        width: 21px;
        height: 21px;
        border: 2px solid #B3B2B2;
        border-radius: $input-border-radius;
        background-image: url('../../../images/paw-icon.png');
        background-repeat: no-repeat;
        background-position: center;
    }

    input[type="range"]::-moz-range-thumb {
        pointer-events: all;
        position: relative;
        z-index: 10;
        -moz-appearance: none;
        width:21px;
        height: 21px;
        border: 2px solid #B3B2B2;
        border-radius: $input-border-radius;
                background-image: url('../../../images/paw-icon.png');
                    background-repeat: no-repeat;
                    background-position: center;
        /* W3C */
    }

    input[type="range"]::-ms-thumb {
        pointer-events: all;
        position: relative;
        z-index: 10;
        -ms-appearance: none;
        width: $input-height;
        height: $input-height;
        border-radius: $input-border-radius;
        border: 0;
        background-image: linear-gradient(to bottom, lighten($input-thumb-color, 60%) 0, $input-thumb-color 100%);
        /* W3C */
    }

    input[type=range]::-moz-range-track {
        position: relative;
        z-index: -1;
        background-color: rgba(0, 0, 0, 1);
        border: 0;
        
    }

    input[type=range]:last-of-type::-moz-range-track {
        -moz-appearance: none;
        background: none transparent;
        border: 0;
        height: 4px;
    }

    input[type=range]::-moz-focus-outer {
        border: 0;
    }
}

section.range-slider {
    @include range-slider(255px, 10px, 30px, #F1EFEF, #413F41, left);

    @media (max-width: 1139px) {
        @include range-slider(330px, 10px, 30px, #F1EFEF, #413F41, left);
    }
}

.filter-buttons{
    margin-top: 81px;
    padding-top: 30px;
    border-top: 1px solid #B3B2B2;

    @media (max-width: 1139px){
        border-top: none;
        padding-top: 0;
        background-color: #FFFFFF;
        border-radius: 20px;
        padding: 14px;
        position: relative;
        margin-bottom: 60px;
        display: flex;
        justify-content: space-between;


        &::after{
            content: "";
            display: block;
            position: absolute;
            bottom: -44px;
            left: 0;
            width: 100%;
            height: 1px;
            background-color: #525051;
            opacity: 0.1
        }
    }

    @media (max-width: 767px){
        flex-direction: column;
    }
}

.filter-buttons-item:not(:first-child){
    margin-top: 14px;

    @media (max-width: 1139px){
        margin-top: 0;
    }

    @media (max-width: 767px){
        margin-top: 14px;
    }
}

.filter-button{
    width: 100%;
    height: 59px;
    background: #7CB227;
    border-radius: 14px;
    border: none;
    font-family: 'Gill Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;

    &.reset{
        background-color: transparent;
        color: #525051;
        border: 1px solid #525051;
    }

    &:hover{
        cursor: pointer;
    }

    @media (max-width: 1139px){
        width: 324px;
    }


}

.open-filters-button{
    width: 690px;
    height: 59px;
    border: none;
    border-radius: 14px;
    position: relative;
    margin-top: 60px;
            background-color: #525051;


    &.open{
        background-color: #F6B626;
    }


    @media (min-width: 1140px){
        display: none;
    }

    @media (max-width: 767px){
        width: 346px;
        height: 47px;
        margin-top: 30px;
    }
}

.open-filters-button-text-open,
.open-filters-button-text-close{
    font-family: 'Gill Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 35px;
        color: #FFFFFF;
}

.open-filters-button-image-open,
.open-filters-button-image-close{
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.shop-pagination-text-navigation{
    font-family: 'Gill Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        color: #525051;
        text-align: center;

        @media (min-width: 768px){
            display: none;
        }
}