.footer{
    @extend section;
    padding-left: 145px;
    padding-right: 165px;
    padding-top: 60px;
    position: relative;
    padding-bottom: 129px;
}

.footer-main{
    display: flex;
    justify-content: space-between;
}

.footer-slogan{
    width: 350px;
    height: 482px;
    background-image: url('../../images/bg\ \(3\).png');
    padding-left: 60px;
    padding-right: 88px;
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 50px;

}

.foote-sloga-text{
    font-family: 'Gill Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 25px;
    color: $secondary-text-color;
}

.footer-nav{
    width: 730px;
    height: 482px;
    background-color: $buttons-color;
    border-radius: 50px;
    margin-left: 30px;
    padding-top: 60px;
    padding-left: 65px;
    padding-bottom: 60px;
    padding-right: 60px;
}

.footer-nav-list{
    display: flex;
}

.footer-nav-list-item{
    &:first-child{
        margin-right: 120px;
    }

    &:last-child{
        margin-left: 150px;
    }
}

.footer-nav-list-item-title{
    font-family: 'Gill Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    color: $secondary-text-color;
}

.footer-nav-link{
    font-family: 'Gill Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 35px;
    color: $secondary-text-color;
}

.footer-payment-list{
    display: flex;
}

.footer-payment-list-item{
    &:first-child{
        margin-right: 13px;
    }
}

.footer-payment-button{
    border:none;
    padding: 0;
    background-color: transparent;
}

.footer-icon-set{
    display: flex;
}

.footer-nav-meta{
    display: flex;
    justify-content: space-between;
    margin-top: 81px;
}

.footer-icon-set-item{
    &:not(:first-child){
        margin-left: 2px;
    }
}

.footer-icon{
    fill: #FFFFFF;
}

.footer-different{
    display: flex;
    flex-direction: row-reverse;
    margin-top: 61px;
    justify-content: space-between;
}

.footer-legal{
    display: flex;
}

.footer-copy-right{
    font-family: 'Gill Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 35px;
    color: $main-text-color;
}

.footer-legal-link{
    font-family: 'Gill Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 35px; 
    color: $main-text-color;
}

.footer-legal-item:first-child::after{
    content: '/ ';
    margin-left:10px;
    margin-right: 10px;
}

.footer-rewind-button{
    width: 73px;
    height: 37px;
    border: none;
    background-color: $secondary-text-color;
    border-radius: 14px;
}

.footer-rewind-button-icon{
    fill: $buttons-color;
}