
.shop{
    padding-left: 145px;
    padding-right: 145px;
    padding-top: 60px;
    position: relative;
}

.shop-title{
    @extend %title
}







.shop-filter-item{
    display: flex;
    flex-direction: column;
}

.shop-filter-button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 59px;
    border: 1px solid #B3B2B2;
    border-radius: 14px;
    background-color: transparent;

    &.active-button{
        background-color: #B57B49;
        border-color: #B57B49;
    }

    &:first-child{
        margin-right: 30px;
    }
}


.filter-button-text{
    font-family: 'Gill Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #525051;

    .active-button & {
        color: #FFFFFF; 
    }
}

.shop-filter-button-icon{
    margin-right: 10px;
    
    &-dog{
        margin-right: 10px;
        fill: #B57B49;

        .active-button & {
            fill: #FFFFFF;
        }
    }

    &-cat{
        margin-right: 10px;
        fill: #81C3D7;

        .active-button & {
            fill: #FFFFFF;
        }
    }

}

.shop-coast-group{
    display: flex;
    align-items: flex-end;
    margin-top: 30px;
}

.shop-products-list{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product-card {
    display: block;
    position: relative;
    width: 255px;
    height: 735px;

    &:nth-child(n+4){
        margin-top: 30px;
    }
}

.product-card-image {
    display: block;
    width: 255px;
    height: 307px;
    border-radius: 40px;
    background-color: $card-color;
}

.product-card-title {
    margin-top: 30px;
    font-family: 'Gill Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    color: $main-text-color;
}

.product-card-rating-wrap {
    display: flex;
    align-items: center;
    margin-top: 16px;
}

.product-card-rating {
    display: flex;
}

.product-card-rating-item:not(:first-child) {
    margin-left: 5px;
}

.product-card-reviews {
    font-family: 'Gill Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 18px;
    color: $main-text-color;
    margin-left: 16px;
}

.product-card-text {
    margin-top: 16px;
    font-family: 'Gill Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 35px;
    color: $main-text-color;
}

.product-card-meta-wrap {
    position: absolute;
    bottom: 0;
}

.product-card-meta {
    display: flex;
}

.product-card-meta-type {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 117px;
    height: 59px;
    background-color: $secondary-text-color;
    border-radius: 14px;
}

.product-card-meta-type-dog {
    fill: $notificatins-color;
    margin-right: 10px;
}

.product-card-meta-type-cat {
    fill: $image-background;
    margin-right: 10px;
}

.product-card-meta-text {
    font-family: 'Gill Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: $main-text-color;
}

.product-card-meta-weight {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 124px;
    height: 59px;
    margin-left: 14px;
    border: none;
    border-radius: 14px;
    background-color: $secondary-text-color;
}

.product-card-meta-weight-text {
    font-family: 'Gill Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: $main-text-color;
    margin-left: 10px;
    margin-right: 17px;
}

.product-card-buy {
    display: flex;
    width: 255px;
    height: 59px;
    border: none;
    border-radius: 14px;
    background-color: $buttons-color;
    margin-top: 14px;
    padding-left: 30px;
    padding-right: 30px;
    align-items: center;
    justify-content: space-between;
}

.product-card-buy-prev-price {
    font-family: 'Gill Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    opacity: 0.5;
    text-decoration-line: line-through;
    margin-right: 10px;
}

.product-card-buy-price {
    font-family: 'Gill Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: $secondary-text-color;
}

.product-card-buy-inner-wrap {
    display: flex;
    align-items: center;
}

.product-card-buy-icon {
    stroke: $secondary-text-color;
    margin-right: 11px;
}

.product-card-buy-text {
    font-family: 'Gill Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: $secondary-text-color;
}

.product-card-meta-type-notification-rectangle {
    width: 10px;
    height: 10px;
    bottom: -5px;
    left: 48%;
    transform: rotate(45deg);
    position: absolute;

    &.dog {
        background-color: #B57B49;
    }

    &.cat {
        background-color: #81C3D7;
    }
}

.product-card-meta-type-notification-text {
    font-family: 'Gill Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}

.product-card-meta-type-notification {
    width: 131px;
    height: 59px;
    border-radius: 14px;
    position: absolute;
    top: -21px;
    transform: translateY(-100%);
    // display: flex;
    // align-items: center;
    // justify-content: center;
    display: none;

    &.dog {
        background-color: #B57B49;
    }

    &.cat {
        background-color: #81C3D7;
    }

    .product-card-meta-type:hover & {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.product-card-new-product {
    position: absolute;
    left: 30px;
    top: 30px;
    width: 122px;
    height: 34px;
    background-color: #F6B626;
    border-radius: 10px;
    font-family: 'Gill Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-card-hit{
    position: absolute;
    left: 30px;
    top: 30px;
    width: 151px;
    height: 34px;
    background-color: #81C3D7;
    border-radius: 10px;
    font-family: 'Gill Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-card-not-available{
    position: absolute;
    left: 30px;
    top: 30px;
    width: 191px;
    height: 34px;
    background-color: #B57B49;
    border-radius: 10px;
    font-family: 'Gill Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-card-meta-weight-variants {
    position: absolute;
    border-radius: 0px 0px 14px 14px;
    overflow: hidden;
    background-color: #FFFFFF;
    right: 0;
    bottom: -33%;
    z-index: 999;
}

.product-card-meta-weight-variants-item {
    width: 124px;
    background-color: #FFFFFF;
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 20px;

    &:hover {
        background-color: rgba(82, 80, 81, 0.1);
    }
}

.shop-pagination{
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}

.shop-pagination-button{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 14px;
    background-color: #FFFFFF;
    border: none;
}

.number-of-pages:not(:first-child){
 margin-left: 20px;
}

.shop-pagination-numbers-list{
    display: flex;
}

.left{
    background-image: url(../../../images/left-arrow.png);
    background-repeat: no-repeat;
    background-position: center;
}

.right{
    background-image: url(../../../images/rigght-arrow.png);
    background-repeat: no-repeat;
    background-position: center;
}

.shop-option-value{
    padding-left: 30px;
    font-family: 'Gill Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #525051;
    background-color: #F4F4ED;
    padding-top: 20px;
    padding-bottom: 20px;

    &:hover{
        background-color: rgba(82, 80, 81, 0.1);
    }
}

.shop-option-values{
    border: 1px solid #B3B2B2;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.1);
    border-radius: 14px;
    overflow: hidden;
    width: 350px;
    position: absolute;
    // transform: translateY(calc(100% + 1px));
    top: 33px;
    right: 0;
    z-index: 999;
    background-color: #F4F4ED;
}

.shop-products{
    width: 825px;
}

.checkout-select {
    position: relative;
}

.checkout-select-button {
    width: 100%;
    height: 59px;
    padding-left: 26px;
    padding-top: 12px;
    padding-bottom: 12px;
    border: 1px solid #B3B2B2;
    border-radius: 14px;
    background-color: transparent;
    text-align: left;
}


.checkout-select-button-text {
    font-family: 'Gill Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 35px;
    color: #525051;
}

.checkout-select-button-icon {
    fill: rgba(246, 182, 38, 1);
    position: absolute;
    right: 26px;
    top: 26px;
}

.checkout-select-values-wrap {
    width: 100%;
    padding-left: 26px;
    background-color: #F4F4ED;
    border: 1px solid #525051;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.1);
    border-radius: 14px;
    position: absolute;
    top: 0;
    z-index: 999;
}

.checkout-select-value {
    height: 59px;
    padding-top: 12px;
    padding-bottom: 12px;
}

.checkout-select-value-text {
    font-family: 'Gill Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 35px;
    color: #525051;
}

.checkout-select-button-text {
    font-family: 'Gill Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 35px;
    color: #525051;
}
.checkout-select {
    position: relative;
    width: 255px;
}

.shop-products-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.shop-products-head-title{
    font-family: 'Gill Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 35px;
        color: #B3B2B2;
}

.shop-main{
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}

.shop-filter{
    width: 255px;
}

.shop-filter-title{
    display: block;
    margin-top: 12px;
    margin-bottom: 42px;
    font-family: 'Gill Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 35px;
        color: #525051;
}

.shop-filter-item-item{
    &:not(:first-child){
        margin-top: 14px;
    }
}

.input-container{
    display: flex;
    align-items: center;
        position: relative;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
}

.input-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    // position: absolute;
    top: 0;
    left: 0;
    height: 21px;
    width: 21px;
    border: 1px solid #525051;
        border-radius: 5px;
}

.input-container input:checked~.checkmark {
    // background-color: #2196F3;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.input-container input:checked~.checkmark:after {
    display: block;
}

.input-container .checkmark:after {
    top: 5px;
    left: 5px;
    width: 11px;
    height: 11px;
    background: #7CB227;
        border-radius: 2px;
}

.filter-parametrs{
    margin-top: 30px;
}

.filter-parametr-title{
    font-family: 'Gill Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        color: #B3B2B2;
}

.input-container-wrap{
    margin-top: 14px;
}

.input-container:not(:first-child){
    margin-top: 14px;
}

.checkbox-title{
    margin-left: 12px;
    font-family: 'Gill Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        color: #525051;
}

.filter-parametr:not(:first-child){
    margin-top: 30px;
}

.filter-price{
        margin-top: 30px;
}

.filter-price-text-wrap{
    display: flex;
    justify-content: space-between;
}

.filter-price-text{
    font-family: 'Gill Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        color: #B3B2B2;
}

.filter-price-inputs{
            display: flex;
                align-items: center;
                justify-content: space-between;
                margin-top: 14px;
}

.filter-price-inputs-point{
    display: block;
    width: 25px;
    height: 1px;
    background-color: #B3B2B2;
    border-radius: 1px;
}

.price-input{
    width: 95px;
    height: 59px;
    background-color: #FFFFFF;
    border-radius: 14px;
    border: none;
    font-family: 'Gill Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        color: #525051;
        text-align: center;
}

@mixin range-slider($width, $height, $input-top, $input-bg-color, $input-thumb-color, $float: none, $input-height: 20px, $input-border-radius: 14px) {
    position: relative;
    width: $width;
    height: $height;
    float: $float;
    text-align: center;

    input[type="range"] {
        pointer-events: none;
        position: absolute;
        -webkit-appearance: none;
        -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
        border: none;
        border-radius: $input-border-radius;
        background: #FFFFFF;
        overflow: visible;
        left: 0;
        top: $input-top;
        width: $width;
        outline: none;
        height: 4px;
        margin: 0;
        padding: 0;
    }

    input[type="range"]::-webkit-slider-thumb {
        pointer-events: all;
        position: relative;
        z-index: 1;
        outline: 0;
        -webkit-appearance: none;
        width: 21px;
        height: 21px;
        border: 2px solid #B3B2B2;
        border-radius: $input-border-radius;
        background-image: url('../../../images/paw-icon.png');
        background-repeat: no-repeat;
        background-position: center;
    }

    input[type="range"]::-moz-range-thumb {
        pointer-events: all;
        position: relative;
        z-index: 10;
        -moz-appearance: none;
        width:21px;
        height: 21px;
        border: 2px solid #B3B2B2;
        border-radius: $input-border-radius;
                background-image: url('../../../images/paw-icon.png');
                    background-repeat: no-repeat;
                    background-position: center;
        /* W3C */
    }

    input[type="range"]::-ms-thumb {
        pointer-events: all;
        position: relative;
        z-index: 10;
        -ms-appearance: none;
        width: $input-height;
        height: $input-height;
        border-radius: $input-border-radius;
        border: 0;
        background-image: linear-gradient(to bottom, lighten($input-thumb-color, 60%) 0, $input-thumb-color 100%);
        /* W3C */
    }

    input[type=range]::-moz-range-track {
        position: relative;
        z-index: -1;
        background-color: rgba(0, 0, 0, 1);
        border: 0;
        
    }

    input[type=range]:last-of-type::-moz-range-track {
        -moz-appearance: none;
        background: none transparent;
        border: 0;
        height: 4px;
    }

    input[type=range]::-moz-focus-outer {
        border: 0;
    }
}

section.range-slider {
    @include range-slider(255px, 10px, 30px, #F1EFEF, #413F41, left);
}

.filter-buttons{
    margin-top: 81px;
    padding-top: 30px;
    border-top: 1px solid #B3B2B2;
}

.filter-buttons-item:not(:first-child){
    margin-top: 14px;
}

.filter-button{
    width: 100%;
    height: 59px;
    background: #7CB227;
        border-radius: 14px;
        border: none;
        font-family: 'Gill Sans';
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 19px;
            color: #FFFFFF;

            &.reset{
                background-color: transparent;
                color: #525051;
                border: 1px solid #525051;
            }

            &:hover{
                cursor: pointer;
            }
}