@font-face {
  font-family: "Gill Sans";
  src: url("../../fonts/Gill Sans.otf");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gill Sans";
  src: url("../../fonts/Gill Sans Heavy.otf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gill Sans";
  src: url("../../fonts/Gill Sans Medium.otf");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gill Sans";
  src: url("../../fonts/Gill Sans Bold.otf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gill Sans";
  src: url("../../fonts/Gill Sans.otf");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gill Sans";
  src: url("../../fonts/Gill Sans Heavy.otf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gill Sans";
  src: url("../../fonts/Gill Sans Medium.otf");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gill Sans";
  src: url("../../fonts/Gill Sans Bold.otf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
h1, h2, h3, h4, h5, p {
  margin: 0;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:focus {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}

ul {
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  -webkit-margin-start: 0;
          margin-inline-start: 0;
  -webkit-margin-end: 0;
          margin-inline-end: 0;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  list-style: none;
}

section, .footer, .header-wrap {
  width: 1440px;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #F4F4ED;
}

.container {
  width: 100%;
  padding-left: 145px;
  padding-right: 145px;
}

.is-hidden {
  display: none;
}

.header-wrap {
  margin: auto;
  padding-top: 40px;
}

.header {
  display: flex;
  margin: auto;
  width: 1140px;
  background-color: #F4F4ED;
  border: 1px solid #E7E4D9;
  border-radius: 20px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  align-items: center;
  justify-content: space-between;
}

.header-nav {
  display: flex;
}

.header-nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-nav-item:not(:first-child) {
  margin-left: 30px;
}

.header-nav-link-text {
  font-family: "Gill Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 35px;
  color: #525051;
}

.header-user {
  display: flex;
}

.header-user-item:first-child {
  margin-right: 30px;
}

.header-user-link {
  display: flex;
  align-items: center;
  position: relative;
  border: none;
  background-color: transparent;
}

.header-user-text {
  margin-left: 10px;
  font-family: "Gill Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 35px;
  color: #525051;
}

.header-user-icon {
  stroke: rgb(246, 182, 38);
}

.header-shop-button {
  padding: 0;
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.header-shop-button-icon {
  fill: rgb(246, 182, 38);
  margin-left: 10px;
}

.header-shop-nav {
  position: absolute;
  bottom: 0;
  left: 220px;
  transform: translateY(calc(100% + 1px));
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  overflow: hidden;
}
.header-shop-nav.is-hidden {
  width: 1px;
  height: 1px;
  display: none;
  left: -1000%;
}

.header-shop-nav-link {
  width: 168px;
  height: 66px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F4F4ED;
}
.header-shop-nav-link:hover {
  background-color: rgba(82, 80, 81, 0.1);
}

.header-shop-nav-link-icon {
  margin-right: 10px;
}
.header-shop-nav-link-icon.dog {
  fill: #B57B49;
}
.header-shop-nav-link-icon.cat {
  fill: #81C3D7;
}

.header-shop-nav-link-text {
  font-family: "Gill Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #525051;
}

.header-user-added-products {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  background-color: #7CB227;
  font-family: "Gill Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #F4F4ED;
  transform: translateY(50%);
  left: -10px;
}

.header-user-icon-wrap {
  width: 43px;
  height: 44px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-user-icon-wrap.enter {
  background-color: rgba(179, 178, 178, 0.2);
}
.header-user-icon-wrap.bag {
  background-color: rgba(246, 182, 38, 0.2);
}

.header-adress {
  display: flex;
  align-items: center;
  padding-left: 145px;
  margin-top: 60px;
}

.header-adress-item:not(:last-child)::after {
  content: ">";
  color: #F6B626;
  font-family: "Gill Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 35px;
  margin-left: 14px;
  margin-right: 14px;
}

.header-adress-link {
  font-family: "Gill Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 35px;
  color: #525051;
}

.checkout {
  padding-left: 165px;
  padding-right: 165px;
  display: flex;
  justify-content: space-between;
}

.checkout-parametrs {
  width: 730px;
}

.checkout-parametr {
  width: 100%;
  position: relative;
}
.checkout-parametr:not(:first-child) {
  margin-top: 60px;
}

.checkout-parametr-title {
  font-family: "Gill Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;
  color: #525051;
  margin-bottom: 30px;
}

.checkout-select {
  position: relative;
}

.checkout-select-button {
  width: 100%;
  height: 59px;
  padding-left: 26px;
  padding-top: 12px;
  padding-bottom: 12px;
  border: 1px solid #B3B2B2;
  border-radius: 14px;
  background-color: transparent;
  text-align: left;
}

.checkout-select-button-text {
  font-family: "Gill Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 35px;
  color: #525051;
}

.checkout-select-button-icon {
  fill: rgb(246, 182, 38);
  position: absolute;
  right: 26px;
  top: 26px;
}

.checkout-select-values-wrap {
  width: 100%;
  padding-left: 26px;
  background-color: #F4F4ED;
  border: 1px solid #525051;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.1);
  border-radius: 14px;
  position: absolute;
  top: 0;
  z-index: 999;
}

.checkout-select-value {
  height: 59px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.checkout-select-value-text {
  font-family: "Gill Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 35px;
  color: #525051;
}

.checkout-select-button-text {
  font-family: "Gill Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 35px;
  color: #525051;
}

.checkout-order-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.checkout-order-item-image {
  width: 95px;
  height: 114px;
  background-color: #E7E4D9;
  border-radius: 14px;
  overflow: hidden;
}

.checkout-order-details {
  display: flex;
  flex-direction: column;
}

.checkout-order-details-title {
  font-family: "Gill Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #B3B2B2;
  margin-bottom: 14px;
  max-width: 200px;
}

.checkout-order-details-value {
  font-family: "Gill Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #525051;
  margin-bottom: 14px;
}

.checkout-order-details-other {
  font-family: "Gill Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  display: flex;
  align-items: center;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  color: #B3B2B2;
}

.checkout-order-item {
  border-bottom: 1px solid #B3B2B2;
  padding-top: 14px;
  padding-bottom: 14px;
}

.checkout-order {
  border-top: 1px solid #B3B2B2;
}

.checkout-order-item-button {
  width: 65px;
  height: 144px;
  background-color: transparent;
  border: none;
  border-radius: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.checkout-order-item-button:hover {
  background-color: #FFFFFF;
}

.checkout-order-item-button-normal {
  display: block;
}
.checkout-order-item-button:hover .checkout-order-item-button-normal {
  display: none;
}

.checkout-order-item-button-active {
  display: none;
}
.checkout-order-item-button:hover .checkout-order-item-button-active {
  display: block;
}

.checkout-order-details-wrap {
  width: 570px;
  padding-left: 14px;
  padding-right: 14px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.checkout-parametr-total {
  font-family: "Gill Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 35px;
  color: #525051;
  position: absolute;
  right: 0;
  top: 0;
  transform: translateY(25%);
}

.checkout-delivery {
  width: 100%;
  padding-top: 30px;
  border-top: 1px solid #B3B2B2;
}

.checkout-delivery-adress-details {
  display: flex;
  justify-content: space-between;
}

.checkout-delivery-adress-detail {
  width: 350px;
}

.checkout-delivery-adress-detail-title {
  font-family: "Gill Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 35px;
  color: #525051;
}

.checkout-delivery-adress-input {
  background-color: transparent;
  width: 100%;
  height: 59px;
  border: 1px solid #525051;
  border-radius: 14px;
  outline: none;
  padding-left: 26px;
  font-family: "Gill Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 35px;
  color: #525051;
}
.checkout-delivery-adress-input:focus {
  outline: none;
}
.checkout-delivery-adress-input::-moz-placeholder {
  font-family: "Gill Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 35px;
  color: #B3B2B2;
}
.checkout-delivery-adress-input:-ms-input-placeholder {
  font-family: "Gill Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 35px;
  color: #B3B2B2;
}
.checkout-delivery-adress-input::placeholder {
  font-family: "Gill Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 35px;
  color: #B3B2B2;
}

.checkout-delivery-exsample {
  font-family: "Gill Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 35px;
  color: #B3B2B2;
  margin-top: 7px;
}

.checkout-delivery-exsample-cities {
  color: rgb(82, 80, 81);
}

.delivery-branch-number-wrap {
  margin-top: 14px;
}

.checkout-payment {
  width: 100%;
  padding-top: 30px;
  border-top: 1px solid #B3B2B2;
}

.checkout-payment-text {
  font-family: "Gill Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 35px;
  color: #525051;
}

.promo {
  padding: 30px;
  border: 2px dashed #525051;
  border-radius: 40px;
  width: 351px;
}

.promo-main {
  display: flex;
  justify-content: space-between;
}

.promo-title {
  font-family: "Gill Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 35px;
  color: #525051;
}

.promo-button-add {
  font-family: "Gill Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 35px;
  color: #525051;
  background-color: transparent;
  border: none;
}
.promo-button-add:hover {
  cursor: pointer;
}

.promo-add-wrap {
  position: relative;
  margin-top: 30px;
  width: 100%;
  display: flex;
}

.promo-add-input {
  width: 100%;
  border: 1px solid #B3B2B2;
  border-radius: 14px;
  padding: 12px 26px;
  font-family: "Gill Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 35px;
  color: #525051;
  text-transform: uppercase;
  background-color: transparent;
}
.promo-add-input:focus {
  outline: none;
}
.promo-add-input::-moz-placeholder {
  font-family: "Gill Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 35px;
  color: #B3B2B2;
}
.promo-add-input:-ms-input-placeholder {
  font-family: "Gill Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 35px;
  color: #B3B2B2;
}
.promo-add-input::placeholder {
  font-family: "Gill Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 35px;
  color: #B3B2B2;
}

.promo-confirm-button {
  border: none;
  background-color: transparent;
  position: absolute;
  right: 26px;
  top: 50%;
  transform: translateY(-45%);
}

.promo-confirm-button-icon {
  stroke: rgb(246, 182, 38);
}

.is-hidden {
  display: none;
}

.total-check {
  width: 351px;
  padding: 30px;
  border: 2px dashed #525051;
  border-radius: 40px;
  margin-top: 14px;
}

.total-check-title {
  font-family: "Gill Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 35px;
  color: #525051;
  margin-bottom: 14px;
}

.total-check-cathegory-title {
  font-family: "Gill Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 35px;
  color: #B3B2B2;
}

.total-check-cathegory-value {
  font-family: "Gill Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 35px;
  color: #525051;
}

.total-check-cathegory-value-total {
  font-family: "Gill Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 35px;
  color: #525051;
}

.total-check-cathegory {
  display: flex;
  justify-content: space-between;
}
.total-check-cathegory:not(:first-child) {
  margin-top: 14px;
}

.total-check-summ {
  margin-top: 14px;
  border-top: 1px solid #B3B2B2;
  border-bottom: 1px solid #B3B2B2;
  padding-top: 14px;
  padding-bottom: 14px;
  display: flex;
  justify-content: space-between;
}

.order-confirm-button {
  width: 100%;
  height: 59px;
  border: none;
  background-color: #F6B626;
  border-radius: 14px;
  margin-top: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.order-confirm-button-text {
  font-family: "Gill Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #525051;
  margin-right: 10px;
}

.order-confirm-button-icon {
  fill: #525051;
}

.footer {
  padding-left: 145px;
  padding-right: 165px;
  padding-top: 60px;
  position: relative;
  padding-bottom: 129px;
}

.footer-main {
  display: flex;
  justify-content: space-between;
}

.footer-slogan {
  width: 350px;
  height: 482px;
  background-image: url("../../images/bg (3).png");
  padding-left: 60px;
  padding-right: 88px;
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 50px;
}

.foote-sloga-text {
  font-family: "Gill Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 25px;
  color: #FFFFFF;
}

.footer-nav {
  width: 730px;
  height: 482px;
  background-color: rgb(124, 178, 39);
  border-radius: 50px;
  margin-left: 30px;
  padding-top: 60px;
  padding-left: 65px;
  padding-bottom: 60px;
  padding-right: 60px;
}

.footer-nav-list {
  display: flex;
}

.footer-nav-list-item:first-child {
  margin-right: 120px;
}
.footer-nav-list-item:last-child {
  margin-left: 150px;
}

.footer-nav-list-item-title {
  font-family: "Gill Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: #FFFFFF;
}

.footer-nav-link {
  font-family: "Gill Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 35px;
  color: #FFFFFF;
}

.footer-payment-list {
  display: flex;
}

.footer-payment-list-item:first-child {
  margin-right: 13px;
}

.footer-payment-button {
  border: none;
  padding: 0;
  background-color: transparent;
}

.footer-icon-set {
  display: flex;
}

.footer-nav-meta {
  display: flex;
  justify-content: space-between;
  margin-top: 81px;
}

.footer-icon-set-item:not(:first-child) {
  margin-left: 2px;
}

.footer-icon {
  fill: #FFFFFF;
}

.footer-different {
  display: flex;
  margin-top: 61px;
  justify-content: space-between;
}

.footer-legal {
  display: flex;
}

.footer-copy-right {
  font-family: "Gill Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 35px;
  color: #525051;
}

.footer-legal-link {
  font-family: "Gill Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 35px;
  color: #525051;
}

.footer-legal-item:first-child::after {
  content: "/ ";
  margin-left: 10px;
  margin-right: 10px;
}

.footer-rewind-button {
  width: 73px;
  height: 37px;
  border: none;
  background-color: #FFFFFF;
  border-radius: 14px;
}

.footer-rewind-button-icon {
  fill: rgb(124, 178, 39);
}/*# sourceMappingURL=checkout.css.map */