@font-face {
  font-family: "Gill Sans";
  src: url("../../fonts/Gill Sans.otf");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gill Sans";
  src: url("../../fonts/Gill Sans Heavy.otf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gill Sans";
  src: url("../../fonts/Gill Sans Medium.otf");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gill Sans";
  src: url("../../fonts/Gill Sans Bold.otf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
h1, h2, h3, h4, h5, p {
  margin: 0;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:focus {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}

ul {
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  -webkit-margin-start: 0;
          margin-inline-start: 0;
  -webkit-margin-end: 0;
          margin-inline-end: 0;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  list-style: none;
}

button {
  padding: 0;
}

section, .footer, .header-wrap {
  width: 1440px;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #F4F4ED;
  position: relative;
}
@media (max-width: 1139px) {
  section, .footer, .header-wrap {
    width: 768px;
    padding-left: 4px;
    padding-right: 4px;
  }
}
@media (max-width: 767px) {
  section, .footer, .header-wrap {
    width: 375px;
  }
}

.container {
  width: 100%;
  padding-left: 145px;
  padding-right: 145px;
}

.is-hidden {
  display: none;
}

h1, h2, h3, h4, h5, p {
  margin: 0;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:focus {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}

ul {
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  -webkit-margin-start: 0;
          margin-inline-start: 0;
  -webkit-margin-end: 0;
          margin-inline-end: 0;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  list-style: none;
}

button {
  padding: 0;
}

section, .footer, .header-wrap {
  width: 1440px;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #F4F4ED;
  position: relative;
}
@media (max-width: 1139px) {
  section, .footer, .header-wrap {
    width: 768px;
    padding-left: 4px;
    padding-right: 4px;
  }
}
@media (max-width: 767px) {
  section, .footer, .header-wrap {
    width: 375px;
  }
}

.container {
  width: 100%;
  padding-left: 145px;
  padding-right: 145px;
}

.is-hidden {
  display: none;
}

.header-wrap {
  margin: auto;
  padding-top: 40px;
  overflow: visible;
}
@media (max-width: 767px) {
  .header-wrap {
    overflow-y: auto;
    position: static;
  }
}

.header {
  display: flex;
  margin: auto;
  width: 1140px;
  background-color: #F4F4ED;
  border: 1px solid #E7E4D9;
  border-radius: 20px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 1139px) {
  .header {
    width: 720px;
    justify-content: flex-start;
  }
}
@media (max-width: 767px) {
  .header {
    width: 346px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (max-width: 767px) {
  .header-company-logo {
    width: 44px;
    height: 44px;
  }
}

.header-nav {
  display: flex;
}
@media (max-width: 1139px) {
  .header-nav {
    margin-left: 84px;
  }
}
@media (max-width: 767px) {
  .header-nav {
    position: absolute;
    width: 346px;
    height: 400px;
    flex-direction: column;
    background-color: #F4F4ED;
    z-index: 9999;
    margin-left: 0;
    top: 118px;
    padding-top: 20px;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid #E7E4D9;
    border-top: none;
    border-radius: 20px;
    align-items: center;
    display: none;
  }
}

.header-nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-nav-item:not(:first-child) {
  margin-left: 30px;
}
@media (max-width: 1139px) {
  .header-nav-item:not(:first-child) {
    margin-left: 20px;
  }
}
@media (max-width: 767px) {
  .header-nav-item:not(:first-child) {
    margin-left: 0;
    text-align: center;
  }
}
.header-nav-item:nth-child(2) {
  margin: 0;
}

.header-nav-link-text {
  font-family: "Gill Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 35px;
  color: #525051;
}
@media (max-width: 1139px) {
  .header-nav-link-text {
    font-size: 14px;
  }
}

.header-user {
  display: flex;
}
@media (max-width: 1139px) {
  .header-user {
    margin-left: auto;
  }
}
@media (max-width: 767px) {
  .header-user {
    margin-left: 0;
  }
}

.header-user-item:first-child {
  margin-right: 30px;
}
@media (max-width: 1139px) {
  .header-user-item:first-child {
    margin-right: 14px;
  }
}
@media (max-width: 767px) {
  .header-user-item:first-child {
    margin-right: 0;
    position: absolute;
    top: 449px;
    left: 50%;
    transform: translateX(-50%);
    width: 306px;
    z-index: 999999;
    background-color: #F6B626;
    border-radius: 14px;
    display: none;
  }
}

.header-user-link {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border: none;
  background-color: transparent;
  width: 100%;
  height: 100%;
}

.header-user-text {
  margin-left: 10px;
  font-family: "Gill Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 35px;
  color: #525051;
}
@media (max-width: 1139px) {
  .header-user-text {
    display: none;
    margin: 0;
  }
}
@media (max-width: 767px) {
  .header-user-text.enter {
    display: block;
  }
}

.header-user-icon {
  stroke: rgb(246, 182, 38);
}
@media (max-width: 767px) {
  .header-user-icon.enter {
    stroke: #525051;
  }
}

.header-shop-button {
  padding: 0;
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.header-shop-button-icon {
  fill: rgb(246, 182, 38);
  margin-left: 10px;
}

.header-shop-nav {
  position: absolute;
  top: 10px;
  left: 340px;
  transform: translateY(calc(100% + 1px));
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  overflow: hidden;
  z-index: 9999;
}
@media (max-width: 1139px) {
  .header-shop-nav {
    left: 140px;
  }
}
@media (max-width: 767px) {
  .header-shop-nav {
    position: static;
    display: flex;
    transform: none;
    border: none;
    box-shadow: none;
  }
}
.header-shop-nav.is-hidden {
  width: 1px;
  height: 1px;
  display: none;
  left: -1000%;
}

.header-shop-nav-link {
  width: 168px;
  height: 66px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F4F4ED;
}
.header-shop-nav-link:hover {
  background-color: rgba(82, 80, 81, 0.1);
}
@media (max-width: 767px) {
  .header-shop-nav-link {
    width: 120px;
  }
}

.header-shop-nav-link-icon {
  margin-right: 10px;
}
.header-shop-nav-link-icon.dog {
  fill: #B57B49;
}
.header-shop-nav-link-icon.cat {
  fill: #81C3D7;
}

.header-shop-nav-link-text {
  font-family: "Gill Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #525051;
}
@media (max-width: 767px) {
  .header-shop-nav-link-text {
    font-size: 14px;
    line-height: 16px;
  }
}

.header-user-added-products {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  background-color: #7CB227;
  font-family: "Gill Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #F4F4ED;
  transform: translateY(50%);
  left: -10px;
}

.header-user-icon-wrap {
  width: 43px;
  height: 44px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-user-icon-wrap.enter {
  background-color: rgba(179, 178, 178, 0.2);
}
.header-user-icon-wrap.bag {
  background-color: rgba(246, 182, 38, 0.2);
}

.header-adress {
  display: flex;
  align-items: center;
  padding-left: 145px;
  margin-top: 60px;
}
@media (max-width: 1139px) {
  .header-adress {
    padding-left: 35px;
  }
}
@media (max-width: 767px) {
  .header-adress {
    padding-left: 15px;
    margin-top: 30px;
    overflow: scroll;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }
}

.header-adress-item {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.header-adress-item:not(:last-child)::after {
  content: ">";
  color: #F6B626;
  font-family: "Gill Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 35px;
  margin-left: 14px;
  margin-right: 14px;
}
@media (max-width: 767px) {
  .header-adress-item:not(:last-child)::after {
    font-size: 14px;
    line-height: 25px;
  }
}

.header-adress-link {
  font-family: "Gill Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 35px;
  color: #525051;
  white-space: nowrap;
}
@media (max-width: 767px) {
  .header-adress-link {
    font-size: 14px;
    line-height: 25px;
  }
}

.mobile-header-menu-open,
.mobile-header-menu-close {
  margin: auto;
  background-color: transparent;
  border: none;
}
@media (min-width: 768px) {
  .mobile-header-menu-open,
.mobile-header-menu-close {
    display: none;
  }
}

.header-shop-nav-item {
  display: flex;
  align-items: center;
}
@media (max-width: 767px) {
  .header-shop-nav-item:first-child::after {
    content: "";
    display: block;
    width: 1px;
    height: 30px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #B3B2B2;
  }
}

.legal {
  padding-left: 165px;
  padding-right: 165px;
  padding-top: 60px;
}
@media (max-width: 1139px) {
  .legal {
    padding-left: 35px;
    padding-right: 35px;
  }
}
@media (max-width: 767px) {
  .legal {
    padding-left: 19px;
    padding-right: 19px;
    padding-top: 30px;
  }
}

.legal-title {
  font-family: "Gill Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 58px;
  margin-bottom: 60px;
}
@media (max-width: 1139px) {
  .legal-title {
    font-size: 36px;
    line-height: 42px;
  }
}
@media (max-width: 767px) {
  .legal-title {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 30px;
  }
}

.legal-text {
  font-family: "Gill Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 35px;
  color: #525051;
}
@media (max-width: 767px) {
  .legal-text {
    font-size: 14px;
    line-height: 25px;
  }
}

.legal-paragraf-title {
  font-family: "Gill Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;
  color: #525051;
  margin-bottom: 14px;
}
@media (max-width: 1139px) {
  .legal-paragraf-title {
    font-size: 30px;
    line-height: 35px;
  }
}
@media (max-width: 767px) {
  .legal-paragraf-title {
    font-size: 24px;
    line-height: 28px;
  }
}

.legal-text-accent {
  font-family: "Gill Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 35px;
  color: #525051;
}

.legal-main {
  margin-top: 60px;
}

.legal-main-item:not(:first-child) {
  margin-top: 60px;
}

h1, h2, h3, h4, h5, p {
  margin: 0;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:focus {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}

ul {
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  -webkit-margin-start: 0;
          margin-inline-start: 0;
  -webkit-margin-end: 0;
          margin-inline-end: 0;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  list-style: none;
}

button {
  padding: 0;
}

section, .footer, .header-wrap {
  width: 1440px;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #F4F4ED;
  position: relative;
}
@media (max-width: 1139px) {
  section, .footer, .header-wrap {
    width: 768px;
    padding-left: 4px;
    padding-right: 4px;
  }
}
@media (max-width: 767px) {
  section, .footer, .header-wrap {
    width: 375px;
  }
}

.container {
  width: 100%;
  padding-left: 145px;
  padding-right: 145px;
}

.is-hidden {
  display: none;
}

.footer {
  padding-left: 145px;
  padding-right: 165px;
  padding-top: 60px;
  position: relative;
  padding-bottom: 129px;
}
@media (max-width: 1139px) {
  .footer {
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 60px;
  }
}
@media (max-width: 767px) {
  .footer {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.footer-main {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .footer-main {
    flex-direction: column;
  }
}

.footer-slogan {
  width: 350px;
  height: 482px;
  background-image: url("../../images/bg (3).png");
  padding-left: 60px;
  padding-right: 88px;
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 50px;
  background-repeat: no-repeat;
}
@media (max-width: 1139px) {
  .footer-slogan {
    width: 241px;
    height: 436px;
    padding: 30px;
  }
}
@media (max-width: 767px) {
  .footer-slogan {
    width: 100%;
    height: 292px;
    background-size: 120%;
    background-position: left -60px top -220px;
    border-radius: 30px;
  }
}

.foote-sloga-text {
  font-family: "Gill Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 25px;
  color: #FFFFFF;
}
@media (max-width: 1139px) {
  .foote-sloga-text {
    font-size: 18px;
    line-height: 21px;
  }
}
@media (max-width: 767px) {
  .foote-sloga-text {
    width: 50%;
  }
}

.footer-nav {
  position: relative;
  width: 730px;
  height: 482px;
  background-color: rgb(124, 178, 39);
  border-radius: 50px;
  margin-left: 30px;
  padding-top: 60px;
  padding-left: 65px;
  padding-bottom: 60px;
  padding-right: 60px;
}
@media (max-width: 1139px) {
  .footer-nav {
    width: 465px;
    height: 436px;
    padding: 30px;
  }
}
@media (max-width: 767px) {
  .footer-nav {
    width: 100%;
    margin-left: 0;
    margin-top: 14px;
    border-radius: 30px;
  }
}

.footer-nav-list {
  display: flex;
}

.footer-nav-list-item:first-child {
  margin-right: 120px;
}
@media (max-width: 1139px) {
  .footer-nav-list-item:first-child {
    margin-right: 38px;
  }
}
.footer-nav-list-item:last-child {
  margin-left: 150px;
}
@media (max-width: 1139px) {
  .footer-nav-list-item:last-child {
    margin-left: 30px;
  }
}
@media (max-width: 767px) {
  .footer-nav-list-item:first-child {
    position: absolute;
    left: 30px;
    top: 30px;
  }
  .footer-nav-list-item:nth-child(2) {
    position: absolute;
    top: 30px;
    left: 191px;
  }
  .footer-nav-list-item:nth-child(3) {
    position: absolute;
    margin: 0;
    left: 30px;
    top: 135px;
  }
}

.footer-nav-list-item-title {
  font-family: "Gill Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: #FFFFFF;
}

.footer-nav-link {
  font-family: "Gill Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 35px;
  color: #FFFFFF;
}

.footer-payment-list {
  display: flex;
}

.footer-payment-list-item:first-child {
  margin-right: 13px;
}

.footer-payment-button {
  border: none;
  padding: 0;
  background-color: transparent;
}

.footer-icon-set {
  display: flex;
}

.footer-nav-meta {
  display: flex;
  justify-content: space-between;
  margin-top: 81px;
}
@media (max-width: 767px) {
  .footer-nav-meta {
    width: 85%;
    position: absolute;
    bottom: 30px;
  }
}

.footer-icon-set-item:not(:first-child) {
  margin-left: 2px;
}

.footer-icon {
  fill: #FFFFFF;
}

.footer-different {
  display: flex;
  margin-top: 61px;
  justify-content: space-between;
}
@media (max-width: 1139px) {
  .footer-different {
    margin-top: 30px;
  }
}
@media (max-width: 767px) {
  .footer-different {
    position: relative;
    flex-direction: column-reverse;
    margin-top: 14px;
  }
}

.footer-legal {
  display: flex;
}

.footer-copy-right {
  font-family: "Gill Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 35px;
  color: #525051;
}
@media (max-width: 1139px) {
  .footer-copy-right {
    font-size: 14px;
    line-height: 25px;
  }
}
@media (max-width: 767px) {
  .footer-copy-right {
    margin-top: 14px;
  }
}

.footer-legal-link {
  font-family: "Gill Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 35px;
  color: #525051;
}
@media (max-width: 1139px) {
  .footer-legal-link {
    font-size: 14px;
    line-height: 25px;
  }
}

.footer-legal-item:first-child::after {
  content: "/ ";
  margin-left: 10px;
  margin-right: 10px;
}

.footer-rewind-button {
  width: 73px;
  height: 37px;
  border: none;
  background-color: #FFFFFF;
  border-radius: 14px;
}
@media (max-width: 767px) {
  .footer-rewind-button {
    position: absolute;
    right: 0;
    width: 64px;
    height: 25px;
    background-color: #7CB227;
    transform: translateY(100%);
  }
}

.footer-rewind-button-icon {
  fill: rgb(124, 178, 39);
}
@media (max-width: 767px) {
  .footer-rewind-button-icon {
    fill: #FFFFFF;
  }
}/*# sourceMappingURL=legal.css.map */