@font-face {
  font-family: "Gill Sans";
  src: url("../../fonts/Gill Sans.otf");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gill Sans";
  src: url("../../fonts/Gill Sans Heavy.otf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gill Sans";
  src: url("../../fonts/Gill Sans Medium.otf");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gill Sans";
  src: url("../../fonts/Gill Sans Bold.otf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
h1, h2, h3, h4, h5, p {
  margin: 0;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:focus {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}

ul {
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  -webkit-margin-start: 0;
          margin-inline-start: 0;
  -webkit-margin-end: 0;
          margin-inline-end: 0;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  list-style: none;
}

section, .footer, .header-wrap {
  width: 1440px;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #F4F4ED;
}

.container {
  width: 100%;
  padding-left: 145px;
  padding-right: 145px;
}

.shop-title {
  font-family: "Gill Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 58px;
  color: #525051;
}

.is-hidden {
  display: none;
}

.header-wrap {
  margin: auto;
  padding-top: 40px;
}

.header {
  display: flex;
  margin: auto;
  width: 1140px;
  background-color: #F4F4ED;
  border: 1px solid #E7E4D9;
  border-radius: 20px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  align-items: center;
  justify-content: space-between;
}

.header-nav {
  display: flex;
}

.header-nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-nav-item:not(:first-child) {
  margin-left: 30px;
}

.header-nav-link-text {
  font-family: "Gill Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 35px;
  color: #525051;
}

.header-user {
  display: flex;
}

.header-user-item:first-child {
  margin-right: 30px;
}

.header-user-link {
  display: flex;
  align-items: center;
  position: relative;
  border: none;
  background-color: transparent;
}

.header-user-text {
  margin-left: 10px;
  font-family: "Gill Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 35px;
  color: #525051;
}

.header-user-icon {
  stroke: rgb(246, 182, 38);
}

.header-shop-button {
  padding: 0;
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.header-shop-button-icon {
  fill: rgb(246, 182, 38);
  margin-left: 10px;
}

.header-shop-nav {
  position: absolute;
  bottom: 0;
  left: 220px;
  transform: translateY(calc(100% + 1px));
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  overflow: hidden;
}
.header-shop-nav.is-hidden {
  width: 1px;
  height: 1px;
  display: none;
  left: -1000%;
}

.header-shop-nav-link {
  width: 168px;
  height: 66px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F4F4ED;
}
.header-shop-nav-link:hover {
  background-color: rgba(82, 80, 81, 0.1);
}

.header-shop-nav-link-icon {
  margin-right: 10px;
}
.header-shop-nav-link-icon.dog {
  fill: #B57B49;
}
.header-shop-nav-link-icon.cat {
  fill: #81C3D7;
}

.header-shop-nav-link-text {
  font-family: "Gill Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #525051;
}

.header-user-added-products {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  background-color: #7CB227;
  font-family: "Gill Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #F4F4ED;
  transform: translateY(50%);
  left: -10px;
}

.header-user-icon-wrap {
  width: 43px;
  height: 44px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-user-icon-wrap.enter {
  background-color: rgba(179, 178, 178, 0.2);
}
.header-user-icon-wrap.bag {
  background-color: rgba(246, 182, 38, 0.2);
}

.header-adress {
  display: flex;
  align-items: center;
  padding-left: 145px;
  margin-top: 60px;
}

.header-adress-item:not(:last-child)::after {
  content: ">";
  color: #F6B626;
  font-family: "Gill Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 35px;
  margin-left: 14px;
  margin-right: 14px;
}

.header-adress-link {
  font-family: "Gill Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 35px;
  color: #525051;
}

.shop {
  padding-left: 145px;
  padding-right: 145px;
  padding-top: 60px;
  position: relative;
}

.shop-disable-filter {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0;
  top: 60px;
  transform: translateX(-100%);
  width: 147px;
  height: 59px;
  border: 1px solid #525051;
  border-radius: 14px;
  background-color: transparent;
}

.shop-disable-filter-text {
  font-family: "Gill Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: #525051;
  margin-right: 10px;
}

.shop-feed-type-filter {
  display: flex;
  margin-top: 60px;
}

.shop-feed-type-list {
  display: flex;
}

.shop-filter-item {
  display: flex;
  margin-top: 14px;
}

.shop-filter-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 160px;
  height: 59px;
  border: 1px solid #B3B2B2;
  border-radius: 14px;
  background-color: transparent;
}
.shop-filter-button.active-button {
  background-color: #B57B49;
  border-color: #B57B49;
}
.shop-filter-button:first-child {
  margin-right: 30px;
}

.shop-filter-title {
  font-family: "Gill Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #525051;
}

.shop-feed-type-filter-select {
  display: flex;
  flex-direction: column;
}

.shop-filter-select {
  width: 350px;
  height: 59px;
  margin-top: 14px;
  padding-left: 30px;
  padding-right: 30px;
  font-family: "Gill Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #525051;
  border: 1px solid #B3B2B2;
  border-radius: 14px;
  background-color: transparent;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-image: url(../../../images/arrow-down.png);
  background-repeat: no-repeat;
  background-position: calc(100% - 30px) center;
}

.filter-button-text {
  font-family: "Gill Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #525051;
}
.active-button .filter-button-text {
  color: #FFFFFF;
}

.shop-filter-button-icon {
  margin-right: 10px;
}
.shop-filter-button-icon-dog {
  margin-right: 10px;
  fill: #B57B49;
}
.active-button .shop-filter-button-icon-dog {
  fill: #FFFFFF;
}
.shop-filter-button-icon-cat {
  margin-right: 10px;
  fill: #81C3D7;
}
.active-button .shop-filter-button-icon-cat {
  fill: #FFFFFF;
}

.shop-price-wrap {
  margin-left: 30px;
}

.shop-filter-input-group {
  display: flex;
  margin-top: 14px;
}

.filter-price-input {
  width: 160px;
  height: 59px;
  background-color: #FFFFFF;
  border-radius: 14px;
  font-family: "Gill Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #525051;
  border: none;
  text-align: center;
  margin-left: 30px;
}

.filter-frice-slider-wrap {
  width: 350px;
  height: 59px;
  background-color: transparent;
  border: 1px solid #B3B2B2;
  border-radius: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.filter-frice-slider {
  width: 290px;
  height: 3px;
  background-color: #FFFFFF;
}
.filter-frice-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04AA6D;
  cursor: pointer;
}
.filter-frice-slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04AA6D;
  cursor: pointer;
}

.shop-confirm-button {
  width: 160px;
  height: 59px;
  background-color: #7CB227;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 14px;
  margin-left: 30px;
}

.shop-confirm-button-text {
  font-family: "Gill Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}

.shop-coast-group {
  display: flex;
  align-items: flex-end;
  margin-top: 30px;
}

.shop-products-list {
  margin-top: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product-card {
  display: block;
  position: relative;
  width: 350px;
  height: 814px;
}
.product-card:nth-child(n+4) {
  margin-top: 30px;
}

.product-card-image {
  display: block;
  width: 350px;
  height: 420px;
  border-radius: 40px;
  background-color: rgb(231, 228, 217);
}

.product-card-title {
  margin-top: 30px;
  font-family: "Gill Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: #525051;
}

.product-card-rating-wrap {
  display: flex;
  align-items: center;
  margin-top: 16px;
}

.product-card-rating {
  display: flex;
}

.product-card-rating-item:not(:first-child) {
  margin-left: 5px;
}

.product-card-reviews {
  font-family: "Gill Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 18px;
  color: #525051;
  margin-left: 16px;
}

.product-card-text {
  margin-top: 16px;
  font-family: "Gill Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 35px;
  color: #525051;
}

.product-card-meta-wrap {
  position: absolute;
  bottom: 0;
}

.product-card-meta {
  display: flex;
}

.product-card-meta-type {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 143px;
  height: 59px;
  background-color: #FFFFFF;
  border-radius: 14px;
}

.product-card-meta-type-dog {
  fill: rgb(181, 123, 73);
  margin-right: 10px;
}

.product-card-meta-type-cat {
  fill: rgb(129, 195, 215);
  margin-right: 10px;
}

.product-card-meta-text {
  font-family: "Gill Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #525051;
}

.product-card-meta-weight {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 193px;
  height: 59px;
  margin-left: 14px;
  border: none;
  border-radius: 14px;
  background-color: #FFFFFF;
}

.product-card-meta-weight-text {
  font-family: "Gill Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #525051;
  margin-left: 10px;
  margin-right: 17px;
}

.product-card-buy {
  display: flex;
  width: 100%;
  height: 59px;
  border: none;
  border-radius: 14px;
  background-color: rgb(124, 178, 39);
  margin-top: 14px;
  padding-left: 30px;
  padding-right: 30px;
  align-items: center;
  justify-content: space-between;
}

.product-card-buy-prev-price {
  font-family: "Gill Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  opacity: 0.5;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  margin-right: 10px;
}

.product-card-buy-price {
  font-family: "Gill Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}

.product-card-buy-inner-wrap {
  display: flex;
  align-items: center;
}

.product-card-buy-icon {
  stroke: #FFFFFF;
  margin-right: 11px;
}

.product-card-buy-text {
  font-family: "Gill Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}

.popular-slider {
  display: flex;
  justify-content: center;
  margin-top: 66px;
}

.popular-slider-point {
  display: block;
  position: relative;
  width: 14px;
  height: 14px;
  background-color: #B3B2B2;
  border-radius: 100%;
}
.popular-slider-point:not(:first-child) {
  margin-left: 14px;
}

.popular-slider-active {
  position: absolute;
  width: 22px;
  height: 22px;
  border: 1px solid #B3B2B2;
  border-radius: 100%;
  left: -29%;
  top: -28%;
}

.product-card-meta-type-notification-rectangle {
  width: 10px;
  height: 10px;
  bottom: -5px;
  left: 48%;
  transform: rotate(45deg);
  position: absolute;
}
.product-card-meta-type-notification-rectangle.dog {
  background-color: #B57B49;
}
.product-card-meta-type-notification-rectangle.cat {
  background-color: #81C3D7;
}

.product-card-meta-type-notification-text {
  font-family: "Gill Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}

.product-card-meta-type-notification {
  width: 131px;
  height: 59px;
  border-radius: 14px;
  position: absolute;
  top: -21px;
  transform: translateY(-100%);
  display: none;
}
.product-card-meta-type-notification.dog {
  background-color: #B57B49;
}
.product-card-meta-type-notification.cat {
  background-color: #81C3D7;
}
.product-card-meta-type:hover .product-card-meta-type-notification {
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-card-new-product {
  position: absolute;
  left: 30px;
  top: 30px;
  width: 122px;
  height: 34px;
  background-color: #F6B626;
  border-radius: 10px;
  font-family: "Gill Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-card-hit {
  position: absolute;
  left: 30px;
  top: 30px;
  width: 151px;
  height: 34px;
  background-color: #81C3D7;
  border-radius: 10px;
  font-family: "Gill Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-card-not-available {
  position: absolute;
  left: 30px;
  top: 30px;
  width: 191px;
  height: 34px;
  background-color: #B57B49;
  border-radius: 10px;
  font-family: "Gill Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-card-meta-weight-variants {
  position: absolute;
  border-radius: 0px 0px 14px 14px;
  overflow: hidden;
  background-color: #FFFFFF;
  right: 0;
  bottom: -33%;
  z-index: 999;
}

.product-card-meta-weight-variants-item {
  width: 193px;
  background-color: #FFFFFF;
  padding-left: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.product-card-meta-weight-variants-item:hover {
  background-color: rgba(82, 80, 81, 0.1);
}

.shop-pagination {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}

.shop-pagination-button {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 14px;
  background-color: #FFFFFF;
  border: none;
}

.number-of-pages:not(:first-child) {
  margin-left: 20px;
}

.shop-pagination-numbers-list {
  display: flex;
}

.left {
  background-image: url(../../../images/left-arrow.png);
  background-repeat: no-repeat;
  background-position: center;
}

.right {
  background-image: url(../../../images/rigght-arrow.png);
  background-repeat: no-repeat;
  background-position: center;
}

.shop-option-value {
  font-family: "Gill Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #525051;
  background-color: #F4F4ED;
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer {
  padding-left: 145px;
  padding-right: 165px;
  padding-top: 60px;
  position: relative;
  padding-bottom: 129px;
}

.footer-main {
  display: flex;
  justify-content: space-between;
}

.footer-slogan {
  width: 350px;
  height: 482px;
  background-image: url("../../images/bg (3).png");
  padding-left: 60px;
  padding-right: 88px;
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 50px;
}

.foote-sloga-text {
  font-family: "Gill Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 25px;
  color: #FFFFFF;
}

.footer-nav {
  width: 730px;
  height: 482px;
  background-color: rgb(124, 178, 39);
  border-radius: 50px;
  margin-left: 30px;
  padding-top: 60px;
  padding-left: 65px;
  padding-bottom: 60px;
  padding-right: 60px;
}

.footer-nav-list {
  display: flex;
}

.footer-nav-list-item:first-child {
  margin-right: 120px;
}
.footer-nav-list-item:last-child {
  margin-left: 150px;
}

.footer-nav-list-item-title {
  font-family: "Gill Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: #FFFFFF;
}

.footer-nav-link {
  font-family: "Gill Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 35px;
  color: #FFFFFF;
}

.footer-payment-list {
  display: flex;
}

.footer-payment-list-item:first-child {
  margin-right: 13px;
}

.footer-payment-button {
  border: none;
  padding: 0;
  background-color: transparent;
}

.footer-icon-set {
  display: flex;
}

.footer-nav-meta {
  display: flex;
  justify-content: space-between;
  margin-top: 81px;
}

.footer-icon-set-item:not(:first-child) {
  margin-left: 2px;
}

.footer-icon {
  fill: #FFFFFF;
}

.footer-different {
  display: flex;
  margin-top: 61px;
  justify-content: space-between;
}

.footer-legal {
  display: flex;
}

.footer-copy-right {
  font-family: "Gill Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 35px;
  color: #525051;
}

.footer-legal-link {
  font-family: "Gill Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 35px;
  color: #525051;
}

.footer-legal-item:first-child::after {
  content: "/ ";
  margin-left: 10px;
  margin-right: 10px;
}

.footer-rewind-button {
  width: 73px;
  height: 37px;
  border: none;
  background-color: #FFFFFF;
  border-radius: 14px;
}

.footer-rewind-button-icon {
  fill: rgb(124, 178, 39);
}/*# sourceMappingURL=shop.css.map */