@font-face {
  font-family: "Gill Sans";
  src: url("../../fonts/Gill Sans.otf");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gill Sans";
  src: url("../../fonts/Gill Sans Heavy.otf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gill Sans";
  src: url("../../fonts/Gill Sans Medium.otf");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gill Sans";
  src: url("../../fonts/Gill Sans Bold.otf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
h1, h2, h3, h4, h5, p {
  margin: 0;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:focus {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}

ul {
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  -webkit-margin-start: 0;
          margin-inline-start: 0;
  -webkit-margin-end: 0;
          margin-inline-end: 0;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  list-style: none;
}

button {
  padding: 0;
}

section, .footer, .header-wrap {
  width: 1440px;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #F4F4ED;
  position: relative;
}
@media (max-width: 1139px) {
  section, .footer, .header-wrap {
    width: 768px;
    padding-left: 4px;
    padding-right: 4px;
  }
}
@media (max-width: 767px) {
  section, .footer, .header-wrap {
    width: 375px;
  }
}

.container {
  width: 100%;
  padding-left: 145px;
  padding-right: 145px;
}

.shop-title {
  font-family: "Gill Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 58px;
  color: #525051;
}
@media (max-width: 1139px) {
  .shop-title {
    font-size: 36px;
    line-height: 42px;
  }
}
@media (max-width: 767px) {
  .shop-title {
    font-size: 32px;
    line-height: 37px;
  }
}

.is-hidden {
  display: none;
}

.header-wrap {
  margin: auto;
  padding-top: 40px;
  overflow: visible;
}
@media (max-width: 767px) {
  .header-wrap {
    overflow-y: auto;
    position: static;
  }
}

.header {
  display: flex;
  margin: auto;
  width: 1140px;
  background-color: #F4F4ED;
  border: 1px solid #E7E4D9;
  border-radius: 20px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 1139px) {
  .header {
    width: 720px;
    justify-content: flex-start;
  }
}
@media (max-width: 767px) {
  .header {
    width: 346px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (max-width: 767px) {
  .header-company-logo {
    width: 44px;
    height: 44px;
  }
}

.header-nav {
  display: flex;
}
@media (max-width: 1139px) {
  .header-nav {
    margin-left: 84px;
  }
}
@media (max-width: 767px) {
  .header-nav {
    position: absolute;
    width: 346px;
    height: 400px;
    flex-direction: column;
    background-color: #F4F4ED;
    z-index: 9999;
    margin-left: 0;
    top: 118px;
    padding-top: 20px;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid #E7E4D9;
    border-top: none;
    border-radius: 20px;
    align-items: center;
    display: none;
  }
}

.header-nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-nav-item:not(:first-child) {
  margin-left: 30px;
}
@media (max-width: 1139px) {
  .header-nav-item:not(:first-child) {
    margin-left: 20px;
  }
}
@media (max-width: 767px) {
  .header-nav-item:not(:first-child) {
    margin-left: 0;
    text-align: center;
  }
}
.header-nav-item:nth-child(2) {
  margin: 0;
}

.header-nav-link-text {
  font-family: "Gill Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 35px;
  color: #525051;
}
@media (max-width: 1139px) {
  .header-nav-link-text {
    font-size: 14px;
  }
}

.header-user {
  display: flex;
}
@media (max-width: 1139px) {
  .header-user {
    margin-left: auto;
  }
}
@media (max-width: 767px) {
  .header-user {
    margin-left: 0;
  }
}

.header-user-item:first-child {
  margin-right: 30px;
}
@media (max-width: 1139px) {
  .header-user-item:first-child {
    margin-right: 14px;
  }
}
@media (max-width: 767px) {
  .header-user-item:first-child {
    margin-right: 0;
    position: absolute;
    top: 449px;
    left: 50%;
    transform: translateX(-50%);
    width: 306px;
    z-index: 999999;
    background-color: #F6B626;
    border-radius: 14px;
    display: none;
  }
}

.header-user-link {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border: none;
  background-color: transparent;
  width: 100%;
  height: 100%;
}

.header-user-text {
  margin-left: 10px;
  font-family: "Gill Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 35px;
  color: #525051;
}
@media (max-width: 1139px) {
  .header-user-text {
    display: none;
    margin: 0;
  }
}
@media (max-width: 767px) {
  .header-user-text.enter {
    display: block;
  }
}

.header-user-icon {
  stroke: rgb(246, 182, 38);
}
@media (max-width: 767px) {
  .header-user-icon.enter {
    stroke: #525051;
  }
}

.header-shop-button {
  padding: 0;
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.header-shop-button-icon {
  fill: rgb(246, 182, 38);
  margin-left: 10px;
}

.header-shop-nav {
  position: absolute;
  top: 10px;
  left: 340px;
  transform: translateY(calc(100% + 1px));
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  overflow: hidden;
  z-index: 9999;
}
@media (max-width: 1139px) {
  .header-shop-nav {
    left: 140px;
  }
}
@media (max-width: 767px) {
  .header-shop-nav {
    position: static;
    display: flex;
    transform: none;
    border: none;
    box-shadow: none;
  }
}
.header-shop-nav.is-hidden {
  width: 1px;
  height: 1px;
  display: none;
  left: -1000%;
}

.header-shop-nav-link {
  width: 168px;
  height: 66px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F4F4ED;
}
.header-shop-nav-link:hover {
  background-color: rgba(82, 80, 81, 0.1);
}
@media (max-width: 767px) {
  .header-shop-nav-link {
    width: 120px;
  }
}

.header-shop-nav-link-icon {
  margin-right: 10px;
}
.header-shop-nav-link-icon.dog {
  fill: #B57B49;
}
.header-shop-nav-link-icon.cat {
  fill: #81C3D7;
}

.header-shop-nav-link-text {
  font-family: "Gill Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #525051;
}
@media (max-width: 767px) {
  .header-shop-nav-link-text {
    font-size: 14px;
    line-height: 16px;
  }
}

.header-user-added-products {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  background-color: #7CB227;
  font-family: "Gill Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #F4F4ED;
  transform: translateY(50%);
  left: -10px;
}

.header-user-icon-wrap {
  width: 43px;
  height: 44px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-user-icon-wrap.enter {
  background-color: rgba(179, 178, 178, 0.2);
}
.header-user-icon-wrap.bag {
  background-color: rgba(246, 182, 38, 0.2);
}

.header-adress {
  display: flex;
  align-items: center;
  padding-left: 145px;
  margin-top: 60px;
}
@media (max-width: 1139px) {
  .header-adress {
    padding-left: 35px;
  }
}
@media (max-width: 767px) {
  .header-adress {
    padding-left: 15px;
    margin-top: 30px;
    overflow: scroll;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }
}

.header-adress-item {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.header-adress-item:not(:last-child)::after {
  content: ">";
  color: #F6B626;
  font-family: "Gill Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 35px;
  margin-left: 14px;
  margin-right: 14px;
}
@media (max-width: 767px) {
  .header-adress-item:not(:last-child)::after {
    font-size: 14px;
    line-height: 25px;
  }
}

.header-adress-link {
  font-family: "Gill Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 35px;
  color: #525051;
  white-space: nowrap;
}
@media (max-width: 767px) {
  .header-adress-link {
    font-size: 14px;
    line-height: 25px;
  }
}

.mobile-header-menu-open,
.mobile-header-menu-close {
  margin: auto;
  background-color: transparent;
  border: none;
}
@media (min-width: 768px) {
  .mobile-header-menu-open,
.mobile-header-menu-close {
    display: none;
  }
}

.header-shop-nav-item {
  display: flex;
  align-items: center;
}
@media (max-width: 767px) {
  .header-shop-nav-item:first-child::after {
    content: "";
    display: block;
    width: 1px;
    height: 30px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #B3B2B2;
  }
}

h1, h2, h3, h4, h5, p {
  margin: 0;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:focus {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}

ul {
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  -webkit-margin-start: 0;
          margin-inline-start: 0;
  -webkit-margin-end: 0;
          margin-inline-end: 0;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  list-style: none;
}

button {
  padding: 0;
}

section, .footer, .header-wrap {
  width: 1440px;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #F4F4ED;
  position: relative;
}
@media (max-width: 1139px) {
  section, .footer, .header-wrap {
    width: 768px;
    padding-left: 4px;
    padding-right: 4px;
  }
}
@media (max-width: 767px) {
  section, .footer, .header-wrap {
    width: 375px;
  }
}

.container {
  width: 100%;
  padding-left: 145px;
  padding-right: 145px;
}

.shop-title {
  font-family: "Gill Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 58px;
  color: #525051;
}
@media (max-width: 1139px) {
  .shop-title {
    font-size: 36px;
    line-height: 42px;
  }
}
@media (max-width: 767px) {
  .shop-title {
    font-size: 32px;
    line-height: 37px;
  }
}

.is-hidden {
  display: none;
}

.shop {
  padding-left: 145px;
  padding-right: 145px;
  padding-top: 60px;
  position: relative;
}
@media (max-width: 1139px) {
  .shop {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (max-width: 767px) {
  .shop {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 30px;
  }
}

.shop-filter-item {
  display: flex;
  flex-direction: column;
}
@media (max-width: 1139px) {
  .shop-filter-item {
    flex-direction: row;
  }
}

.shop-filter-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 59px;
  border: 1px solid #B3B2B2;
  border-radius: 14px;
  background-color: transparent;
}
.shop-filter-button.active-button {
  background-color: #B57B49;
  border-color: #B57B49;
}
@media (max-width: 1139px) {
  .shop-filter-button {
    width: 330px;
  }
}
@media (max-width: 767px) {
  .shop-filter-button {
    width: 158px;
    height: 47px;
  }
}

.filter-button-text {
  font-family: "Gill Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #525051;
}
.active-button .filter-button-text {
  color: #FFFFFF;
}
@media (max-width: 767px) {
  .filter-button-text {
    font-size: 14px;
    line-height: 17px;
  }
}

.shop-filter-button-icon {
  margin-right: 10px;
}
.shop-filter-button-icon-dog {
  margin-right: 10px;
  fill: #B57B49;
}
.active-button .shop-filter-button-icon-dog {
  fill: #FFFFFF;
}
.shop-filter-button-icon-cat {
  margin-right: 10px;
  fill: #81C3D7;
}
.active-button .shop-filter-button-icon-cat {
  fill: #FFFFFF;
}

.shop-coast-group {
  display: flex;
  align-items: flex-end;
  margin-top: 30px;
}

.shop-products-list {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product-card {
  display: block;
  position: relative;
  width: 255px;
  height: 743px;
}
.product-card:nth-child(n+4) {
  margin-top: 30px;
}
@media (max-width: 1139px) {
  .product-card:nth-child(n+4) {
    margin-top: 0;
  }
}
@media (max-width: 1139px) {
  .product-card {
    width: 330px;
    height: 814px;
  }
  .product-card:nth-child(n+3) {
    margin-top: 30px;
  }
}
@media (max-width: 767px) {
  .product-card {
    width: 164px;
    height: 480px;
  }
}

.product-card-image {
  display: block;
  width: 100%;
  height: 307px;
  border-radius: 40px;
  background-color: rgb(231, 228, 217);
}
@media (max-width: 1139px) {
  .product-card-image {
    height: 420px;
  }
}
@media (max-width: 767px) {
  .product-card-image {
    height: 182px;
    border-radius: 20px;
  }
}

.product-card-title {
  margin-top: 30px;
  font-family: "Gill Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: #525051;
}
@media (max-width: 767px) {
  .product-card-title {
    font-size: 14px;
    line-height: 25px;
  }
}

.product-card-rating-wrap {
  display: flex;
  align-items: center;
  margin-top: 16px;
}
@media (max-width: 767px) {
  .product-card-rating-wrap {
    position: absolute;
    bottom: 160px;
  }
}

.product-card-rating {
  display: flex;
}

.product-card-rating-item:not(:first-child) {
  margin-left: 5px;
}
@media (max-width: 767px) {
  .product-card-rating-item:not(:first-child) {
    margin-left: 4px;
  }
}

.product-card-reviews {
  font-family: "Gill Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 18px;
  color: #525051;
  margin-left: 16px;
}
@media (max-width: 767px) {
  .product-card-reviews {
    font-size: 14px;
    line-height: 25px;
    margin-left: 4px;
  }
}

.product-card-text {
  margin-top: 16px;
  font-family: "Gill Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 35px;
  color: #525051;
}
@media (max-width: 767px) {
  .product-card-text {
    display: none;
  }
}

.product-card-meta-wrap {
  position: absolute;
  bottom: 0;
}

.product-card-meta {
  display: flex;
}

.product-card-meta-type {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 117px;
  height: 59px;
  background-color: #FFFFFF;
  border-radius: 14px;
}
@media (max-width: 1139px) {
  .product-card-meta-type {
    width: 123px;
  }
}
@media (max-width: 767px) {
  .product-card-meta-type {
    display: none;
  }
}

.product-card-meta-type-dog {
  fill: rgb(181, 123, 73);
  margin-right: 10px;
}

.product-card-meta-type-cat {
  fill: rgb(129, 195, 215);
  margin-right: 10px;
}

.product-card-meta-text {
  font-family: "Gill Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #525051;
}

.product-card-meta-weight {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 124px;
  height: 59px;
  margin-left: 14px;
  border: none;
  border-radius: 14px;
  background-color: #FFFFFF;
}
@media (max-width: 1139px) {
  .product-card-meta-weight {
    width: 193px;
  }
}
@media (max-width: 767px) {
  .product-card-meta-weight {
    width: 164px;
    margin-left: 0;
  }
}

.product-card-meta-weight-text {
  font-family: "Gill Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #525051;
  margin-left: 10px;
  margin-right: 17px;
}

.product-card-buy {
  display: flex;
  width: 100%;
  height: 59px;
  border: none;
  border-radius: 14px;
  background-color: rgb(124, 178, 39);
  margin-top: 14px;
  padding-left: 30px;
  padding-right: 30px;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .product-card-buy {
    padding: 15px 20px;
  }
}

.product-card-buy-prev-price {
  font-family: "Gill Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  opacity: 0.5;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  margin-right: 10px;
}
@media (max-width: 767px) {
  .product-card-buy-prev-price {
    font-size: 14px;
    line-height: 17px;
  }
}

.product-card-buy-price {
  font-family: "Gill Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}
@media (max-width: 767px) {
  .product-card-buy-price {
    font-size: 14px;
    line-height: 17px;
  }
}

.product-card-buy-inner-wrap {
  display: flex;
  align-items: center;
}

.product-card-buy-icon {
  stroke: #FFFFFF;
  margin-right: 11px;
}

.product-card-buy-text {
  font-family: "Gill Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}
@media (max-width: 767px) {
  .product-card-buy-text {
    display: none;
  }
}

.product-card-meta-type-notification-rectangle {
  width: 10px;
  height: 10px;
  bottom: -5px;
  left: 48%;
  transform: rotate(45deg);
  position: absolute;
}
.product-card-meta-type-notification-rectangle.dog {
  background-color: #B57B49;
}
.product-card-meta-type-notification-rectangle.cat {
  background-color: #81C3D7;
}

.product-card-meta-type-notification-text {
  font-family: "Gill Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}

.product-card-meta-type-notification {
  width: 131px;
  height: 59px;
  border-radius: 14px;
  position: absolute;
  top: -21px;
  transform: translateY(-100%);
  display: none;
}
.product-card-meta-type-notification.dog {
  background-color: #B57B49;
}
.product-card-meta-type-notification.cat {
  background-color: #81C3D7;
}
.product-card-meta-type:hover .product-card-meta-type-notification {
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-card-new-product {
  position: absolute;
  left: 30px;
  top: 30px;
  width: 122px;
  height: 34px;
  background-color: #F6B626;
  border-radius: 10px;
  font-family: "Gill Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 767px) {
  .product-card-new-product {
    font-size: 10px;
    line-height: 12px;
    left: 10px;
    top: 10px;
    width: 70px;
  }
}

.product-card-hit {
  position: absolute;
  left: 30px;
  top: 30px;
  width: 151px;
  height: 34px;
  background-color: #81C3D7;
  border-radius: 10px;
  font-family: "Gill Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 767px) {
  .product-card-hit {
    font-size: 10px;
    line-height: 12px;
    left: 10px;
    top: 10px;
    width: 90px;
  }
}

.product-card-not-available {
  position: absolute;
  left: 30px;
  top: 30px;
  width: 191px;
  height: 34px;
  background-color: #B57B49;
  border-radius: 10px;
  font-family: "Gill Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 767px) {
  .product-card-not-available {
    font-size: 10px;
    line-height: 12px;
    left: 10px;
    top: 10px;
    width: 120px;
  }
}

.product-card-meta-weight-variants {
  position: absolute;
  border-radius: 0px 0px 14px 14px;
  overflow: hidden;
  background-color: #FFFFFF;
  right: 0;
  bottom: -33%;
  z-index: 999;
}

.product-card-meta-weight-variants-item {
  width: 124px;
  background-color: #FFFFFF;
  padding-left: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.product-card-meta-weight-variants-item:hover {
  background-color: rgba(82, 80, 81, 0.1);
}
@media (max-width: 767px) {
  .product-card-meta-weight-variants-item {
    width: 164px;
  }
}

.shop-pagination {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
  align-items: center;
}

.shop-pagination-button {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 14px;
  background-color: #FFFFFF;
  border: none;
}

@media (max-width: 767px) {
  .number-of-pages {
    display: none;
  }
}

.number-of-pages:not(:first-child) {
  margin-left: 20px;
}

.shop-pagination-numbers-list {
  display: flex;
}

.left {
  background-image: url(../../../images/left-arrow.png);
  background-repeat: no-repeat;
  background-position: center;
}

.right {
  background-image: url(../../../images/rigght-arrow.png);
  background-repeat: no-repeat;
  background-position: center;
}

.shop-option-value {
  padding-left: 30px;
  font-family: "Gill Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #525051;
  background-color: #F4F4ED;
  padding-top: 20px;
  padding-bottom: 20px;
}
.shop-option-value:hover {
  background-color: rgba(82, 80, 81, 0.1);
}

.shop-option-values {
  border: 1px solid #B3B2B2;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.1);
  border-radius: 14px;
  overflow: hidden;
  width: 350px;
  position: absolute;
  top: 33px;
  right: 0;
  z-index: 999;
  background-color: #F4F4ED;
}

.shop-products {
  width: 825px;
}
@media (max-width: 1139px) {
  .shop-products {
    width: 100%;
  }
}

.checkout-select-button {
  width: 100%;
  height: 59px;
  padding-left: 26px;
  padding-top: 12px;
  padding-bottom: 12px;
  border: 1px solid #B3B2B2;
  border-radius: 14px;
  background-color: transparent;
  text-align: left;
}
@media (max-width: 767px) {
  .checkout-select-button {
    height: 47px;
    padding-left: 12px;
    border: none;
  }
}

.checkout-select-button-text {
  font-family: "Gill Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 35px;
  color: #525051;
}
@media (max-width: 767px) {
  .checkout-select-button-text {
    font-size: 14px;
    line-height: 17px;
  }
}

.checkout-select-button-icon {
  fill: rgb(246, 182, 38);
  position: absolute;
  right: 26px;
  top: 26px;
}
@media (max-width: 767px) {
  .checkout-select-button-icon {
    transform: translateY(-50%);
  }
}

.checkout-select-values-wrap {
  width: 100%;
  padding-left: 26px;
  background-color: #F4F4ED;
  border: 1px solid #525051;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.1);
  border-radius: 14px;
  position: absolute;
  top: 0;
  z-index: 999;
}
@media (max-width: 767px) {
  .checkout-select-values-wrap {
    padding-left: 12px;
  }
}

.checkout-select-value {
  height: 59px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.checkout-select-value-text {
  font-family: "Gill Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 35px;
  color: #525051;
}
@media (max-width: 767px) {
  .checkout-select-value-text {
    font-size: 14px;
    line-height: 17px;
  }
}

.checkout-select-button-text {
  font-family: "Gill Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 35px;
  color: #525051;
}
@media (max-width: 767px) {
  .checkout-select-button-text {
    font-size: 14px;
    line-height: 17px;
  }
}

.checkout-select {
  position: relative;
  width: 255px;
}
@media (max-width: 767px) {
  .checkout-select {
    width: 50%;
  }
}

.shop-products-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.shop-products-head-title {
  font-family: "Gill Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 35px;
  color: #B3B2B2;
}
@media (max-width: 767px) {
  .shop-products-head-title {
    font-size: 14px;
    line-height: 17px;
  }
}

.shop-main {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}
@media (max-width: 1139px) {
  .shop-main {
    flex-direction: column;
    margin-top: 30px;
    padding-top: 30px;
    border-top: 1px solid rgba(82, 80, 81, 0.1);
    width: 690px;
  }
}
@media (max-width: 767px) {
  .shop-main {
    width: 346px;
  }
}

.shop-filter {
  width: 255px;
}
@media (max-width: 1139px) {
  .shop-filter {
    width: 100%;
    display: none;
  }
}

.shop-filter-title {
  display: block;
  margin-top: 12px;
  margin-bottom: 42px;
  font-family: "Gill Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 35px;
  color: #525051;
}
@media (max-width: 1139px) {
  .shop-filter-title {
    display: none;
  }
}

.shop-filter-item-item:not(:first-child) {
  margin-top: 14px;
}
@media (max-width: 1139px) {
  .shop-filter-item-item:not(:first-child) {
    margin-top: 0;
    margin-left: 30px;
  }
}

.input-container {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.input-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  top: 0;
  left: 0;
  height: 21px;
  width: 21px;
  border: 1px solid #525051;
  border-radius: 5px;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.input-container input:checked ~ .checkmark:after {
  display: block;
}

.input-container .checkmark:after {
  top: 5px;
  left: 5px;
  width: 11px;
  height: 11px;
  background: #7CB227;
  border-radius: 2px;
}

.filter-parametrs {
  margin-top: 30px;
}
@media (max-width: 1139px) {
  .filter-parametrs {
    display: flex;
    flex-wrap: wrap;
  }
}
@media (max-width: 767px) {
  .filter-parametrs {
    display: block;
    width: 346px;
    position: relative;
  }
}

.filter-parametr-title {
  font-family: "Gill Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #B3B2B2;
}
.input-container-wrap {
  margin-top: 14px;
}

.input-container:not(:first-child) {
  margin-top: 14px;
}

.checkbox-title {
  margin-left: 12px;
  font-family: "Gill Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #525051;
}
@media (max-width: 767px) {
  .checkbox-title {
    font-size: 14px;
    line-height: 17px;
  }
}

@media (max-width: 1139px) {
  .filter-parametr {
    width: 40%;
  }
}
@media (max-width: 767px) {
  .filter-parametr {
    width: 50%;
  }
  .filter-parametr:nth-child(2) {
    position: absolute;
    top: 0;
    left: 55%;
  }
  .filter-parametr:nth-child(3) {
    padding-top: 30px;
  }
  .filter-parametr:nth-child(4) {
    padding-top: 30px;
  }
}

.filter-parametr:not(:first-child) {
  margin-top: 30px;
}
@media (max-width: 1139px) {
  .filter-parametr:not(:first-child) {
    margin-top: 0;
  }
  .filter-parametr:not(:first-child):nth-child(2n) {
    margin-left: 80px;
  }
  .filter-parametr:not(:first-child):nth-child(n+3) {
    margin-top: 30px;
  }
}
@media (max-width: 767px) {
  .filter-parametr:not(:first-child):nth-child(2n) {
    margin-left: 0;
  }
  .filter-parametr:not(:first-child):nth-child(n+3) {
    margin-top: 0;
  }
}

.filter-price {
  margin-top: 30px;
}
@media (max-width: 1139px) {
  .filter-price {
    width: 330px;
  }
}

.filter-price-text-wrap {
  display: flex;
  justify-content: space-between;
}

.filter-price-text {
  font-family: "Gill Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #B3B2B2;
}

.filter-price-inputs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 14px;
}

.filter-price-inputs-point {
  display: block;
  width: 25px;
  height: 1px;
  background-color: #B3B2B2;
  border-radius: 1px;
}

.price-input {
  width: 95px;
  height: 59px;
  background-color: #FFFFFF;
  border-radius: 14px;
  border: none;
  font-family: "Gill Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #525051;
  text-align: center;
}
@media (max-width: 1139px) {
  .price-input {
    width: 119px;
  }
}

section.range-slider, .range-slider.footer, .range-slider.header-wrap {
  position: relative;
  width: 255px;
  height: 10px;
  float: left;
  text-align: center;
}
section.range-slider input[type=range], .range-slider.footer input[type=range], .range-slider.header-wrap input[type=range] {
  pointer-events: none;
  position: absolute;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  border: none;
  border-radius: 14px;
  background: #FFFFFF;
  overflow: visible;
  left: 0;
  top: 30px;
  width: 255px;
  outline: none;
  height: 4px;
  margin: 0;
  padding: 0;
}
section.range-slider input[type=range]::-webkit-slider-thumb, .range-slider.footer input[type=range]::-webkit-slider-thumb, .range-slider.header-wrap input[type=range]::-webkit-slider-thumb {
  pointer-events: all;
  position: relative;
  z-index: 1;
  outline: 0;
  -webkit-appearance: none;
  width: 21px;
  height: 21px;
  border: 2px solid #B3B2B2;
  border-radius: 14px;
  background-image: url("../../../images/paw-icon.png");
  background-repeat: no-repeat;
  background-position: center;
}
section.range-slider input[type=range]::-moz-range-thumb, .range-slider.footer input[type=range]::-moz-range-thumb, .range-slider.header-wrap input[type=range]::-moz-range-thumb {
  pointer-events: all;
  position: relative;
  z-index: 10;
  -moz-appearance: none;
  width: 21px;
  height: 21px;
  border: 2px solid #B3B2B2;
  border-radius: 14px;
  background-image: url("../../../images/paw-icon.png");
  background-repeat: no-repeat;
  background-position: center;
  /* W3C */
}
section.range-slider input[type=range]::-ms-thumb, .range-slider.footer input[type=range]::-ms-thumb, .range-slider.header-wrap input[type=range]::-ms-thumb {
  pointer-events: all;
  position: relative;
  z-index: 10;
  -ms-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 14px;
  border: 0;
  background-image: linear-gradient(to bottom, #dad8da 0, #413F41 100%);
  /* W3C */
}
section.range-slider input[type=range]::-moz-range-track, .range-slider.footer input[type=range]::-moz-range-track, .range-slider.header-wrap input[type=range]::-moz-range-track {
  position: relative;
  z-index: -1;
  background-color: rgb(0, 0, 0);
  border: 0;
}
section.range-slider input[type=range]:last-of-type::-moz-range-track, .range-slider.footer input[type=range]:last-of-type::-moz-range-track, .range-slider.header-wrap input[type=range]:last-of-type::-moz-range-track {
  -moz-appearance: none;
  background: none transparent;
  border: 0;
  height: 4px;
}
section.range-slider input[type=range]::-moz-focus-outer, .range-slider.footer input[type=range]::-moz-focus-outer, .range-slider.header-wrap input[type=range]::-moz-focus-outer {
  border: 0;
}
@media (max-width: 1139px) {
  section.range-slider, .range-slider.footer, .range-slider.header-wrap {
    position: relative;
    width: 330px;
    height: 10px;
    float: left;
    text-align: center;
  }
  section.range-slider input[type=range], .range-slider.footer input[type=range], .range-slider.header-wrap input[type=range] {
    pointer-events: none;
    position: absolute;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 14px;
    background: #FFFFFF;
    overflow: visible;
    left: 0;
    top: 30px;
    width: 330px;
    outline: none;
    height: 4px;
    margin: 0;
    padding: 0;
  }
  section.range-slider input[type=range]::-webkit-slider-thumb, .range-slider.footer input[type=range]::-webkit-slider-thumb, .range-slider.header-wrap input[type=range]::-webkit-slider-thumb {
    pointer-events: all;
    position: relative;
    z-index: 1;
    outline: 0;
    -webkit-appearance: none;
    width: 21px;
    height: 21px;
    border: 2px solid #B3B2B2;
    border-radius: 14px;
    background-image: url("../../../images/paw-icon.png");
    background-repeat: no-repeat;
    background-position: center;
  }
  section.range-slider input[type=range]::-moz-range-thumb, .range-slider.footer input[type=range]::-moz-range-thumb, .range-slider.header-wrap input[type=range]::-moz-range-thumb {
    pointer-events: all;
    position: relative;
    z-index: 10;
    -moz-appearance: none;
    width: 21px;
    height: 21px;
    border: 2px solid #B3B2B2;
    border-radius: 14px;
    background-image: url("../../../images/paw-icon.png");
    background-repeat: no-repeat;
    background-position: center;
    /* W3C */
  }
  section.range-slider input[type=range]::-ms-thumb, .range-slider.footer input[type=range]::-ms-thumb, .range-slider.header-wrap input[type=range]::-ms-thumb {
    pointer-events: all;
    position: relative;
    z-index: 10;
    -ms-appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 14px;
    border: 0;
    background-image: linear-gradient(to bottom, #dad8da 0, #413F41 100%);
    /* W3C */
  }
  section.range-slider input[type=range]::-moz-range-track, .range-slider.footer input[type=range]::-moz-range-track, .range-slider.header-wrap input[type=range]::-moz-range-track {
    position: relative;
    z-index: -1;
    background-color: rgb(0, 0, 0);
    border: 0;
  }
  section.range-slider input[type=range]:last-of-type::-moz-range-track, .range-slider.footer input[type=range]:last-of-type::-moz-range-track, .range-slider.header-wrap input[type=range]:last-of-type::-moz-range-track {
    -moz-appearance: none;
    background: none transparent;
    border: 0;
    height: 4px;
  }
  section.range-slider input[type=range]::-moz-focus-outer, .range-slider.footer input[type=range]::-moz-focus-outer, .range-slider.header-wrap input[type=range]::-moz-focus-outer {
    border: 0;
  }
}

.filter-buttons {
  margin-top: 81px;
  padding-top: 30px;
  border-top: 1px solid #B3B2B2;
}
@media (max-width: 1139px) {
  .filter-buttons {
    border-top: none;
    padding-top: 0;
    background-color: #FFFFFF;
    border-radius: 20px;
    padding: 14px;
    position: relative;
    margin-bottom: 60px;
    display: flex;
    justify-content: space-between;
  }
  .filter-buttons::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -44px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #525051;
    opacity: 0.1;
  }
}
@media (max-width: 767px) {
  .filter-buttons {
    flex-direction: column;
  }
}

.filter-buttons-item:not(:first-child) {
  margin-top: 14px;
}
@media (max-width: 1139px) {
  .filter-buttons-item:not(:first-child) {
    margin-top: 0;
  }
}
@media (max-width: 767px) {
  .filter-buttons-item:not(:first-child) {
    margin-top: 14px;
  }
}

.filter-button {
  width: 100%;
  height: 59px;
  background: #7CB227;
  border-radius: 14px;
  border: none;
  font-family: "Gill Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}
.filter-button.reset {
  background-color: transparent;
  color: #525051;
  border: 1px solid #525051;
}
.filter-button:hover {
  cursor: pointer;
}
@media (max-width: 1139px) {
  .filter-button {
    width: 324px;
  }
}

.open-filters-button {
  width: 690px;
  height: 59px;
  border: none;
  border-radius: 14px;
  position: relative;
  margin-top: 60px;
  background-color: #525051;
}
.open-filters-button.open {
  background-color: #F6B626;
}
@media (min-width: 1140px) {
  .open-filters-button {
    display: none;
  }
}
@media (max-width: 767px) {
  .open-filters-button {
    width: 346px;
    height: 47px;
    margin-top: 30px;
  }
}

.open-filters-button-text-open,
.open-filters-button-text-close {
  font-family: "Gill Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 35px;
  color: #FFFFFF;
}

.open-filters-button-image-open,
.open-filters-button-image-close {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.shop-pagination-text-navigation {
  font-family: "Gill Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #525051;
  text-align: center;
}
@media (min-width: 768px) {
  .shop-pagination-text-navigation {
    display: none;
  }
}

.footer {
  padding-left: 145px;
  padding-right: 165px;
  padding-top: 60px;
  position: relative;
  padding-bottom: 129px;
}
@media (max-width: 1139px) {
  .footer {
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 60px;
  }
}
@media (max-width: 767px) {
  .footer {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.footer-main {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .footer-main {
    flex-direction: column;
  }
}

.footer-slogan {
  width: 350px;
  height: 482px;
  background-image: url("../../images/bg (3).png");
  padding-left: 60px;
  padding-right: 88px;
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 50px;
  background-repeat: no-repeat;
}
@media (max-width: 1139px) {
  .footer-slogan {
    width: 241px;
    height: 436px;
    padding: 30px;
  }
}
@media (max-width: 767px) {
  .footer-slogan {
    width: 100%;
    height: 292px;
    background-size: 120%;
    background-position: left -60px top -220px;
    border-radius: 30px;
  }
}

.foote-sloga-text {
  font-family: "Gill Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 25px;
  color: #FFFFFF;
}
@media (max-width: 1139px) {
  .foote-sloga-text {
    font-size: 18px;
    line-height: 21px;
  }
}
@media (max-width: 767px) {
  .foote-sloga-text {
    width: 50%;
  }
}

.footer-nav {
  position: relative;
  width: 730px;
  height: 482px;
  background-color: rgb(124, 178, 39);
  border-radius: 50px;
  margin-left: 30px;
  padding-top: 60px;
  padding-left: 65px;
  padding-bottom: 60px;
  padding-right: 60px;
}
@media (max-width: 1139px) {
  .footer-nav {
    width: 465px;
    height: 436px;
    padding: 30px;
  }
}
@media (max-width: 767px) {
  .footer-nav {
    width: 100%;
    margin-left: 0;
    margin-top: 14px;
    border-radius: 30px;
  }
}

.footer-nav-list {
  display: flex;
}

.footer-nav-list-item:first-child {
  margin-right: 120px;
}
@media (max-width: 1139px) {
  .footer-nav-list-item:first-child {
    margin-right: 38px;
  }
}
.footer-nav-list-item:last-child {
  margin-left: 150px;
}
@media (max-width: 1139px) {
  .footer-nav-list-item:last-child {
    margin-left: 30px;
  }
}
@media (max-width: 767px) {
  .footer-nav-list-item:first-child {
    position: absolute;
    left: 30px;
    top: 30px;
  }
  .footer-nav-list-item:nth-child(2) {
    position: absolute;
    top: 30px;
    left: 191px;
  }
  .footer-nav-list-item:nth-child(3) {
    position: absolute;
    margin: 0;
    left: 30px;
    top: 135px;
  }
}

.footer-nav-list-item-title {
  font-family: "Gill Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: #FFFFFF;
}

.footer-nav-link {
  font-family: "Gill Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 35px;
  color: #FFFFFF;
}

.footer-payment-list {
  display: flex;
}

.footer-payment-list-item:first-child {
  margin-right: 13px;
}

.footer-payment-button {
  border: none;
  padding: 0;
  background-color: transparent;
}

.footer-icon-set {
  display: flex;
}

.footer-nav-meta {
  display: flex;
  justify-content: space-between;
  margin-top: 81px;
}
@media (max-width: 767px) {
  .footer-nav-meta {
    width: 85%;
    position: absolute;
    bottom: 30px;
  }
}

.footer-icon-set-item:not(:first-child) {
  margin-left: 2px;
}

.footer-icon {
  fill: #FFFFFF;
}

.footer-different {
  display: flex;
  margin-top: 61px;
  justify-content: space-between;
}
@media (max-width: 1139px) {
  .footer-different {
    margin-top: 30px;
  }
}
@media (max-width: 767px) {
  .footer-different {
    position: relative;
    flex-direction: column-reverse;
    margin-top: 14px;
  }
}

.footer-legal {
  display: flex;
}

.footer-copy-right {
  font-family: "Gill Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 35px;
  color: #525051;
}
@media (max-width: 1139px) {
  .footer-copy-right {
    font-size: 14px;
    line-height: 25px;
  }
}
@media (max-width: 767px) {
  .footer-copy-right {
    margin-top: 14px;
  }
}

.footer-legal-link {
  font-family: "Gill Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 35px;
  color: #525051;
}
@media (max-width: 1139px) {
  .footer-legal-link {
    font-size: 14px;
    line-height: 25px;
  }
}

.footer-legal-item:first-child::after {
  content: "/ ";
  margin-left: 10px;
  margin-right: 10px;
}

.footer-rewind-button {
  width: 73px;
  height: 37px;
  border: none;
  background-color: #FFFFFF;
  border-radius: 14px;
}
@media (max-width: 767px) {
  .footer-rewind-button {
    position: absolute;
    right: 0;
    width: 64px;
    height: 25px;
    background-color: #7CB227;
    transform: translateY(100%);
  }
}

.footer-rewind-button-icon {
  fill: rgb(124, 178, 39);
}
@media (max-width: 767px) {
  .footer-rewind-button-icon {
    fill: #FFFFFF;
  }
}/*# sourceMappingURL=shop.css.map */