.contacts{
    padding-top: 60px;
    padding-left: 165px;
    padding-right: 165px;
    display: flex;
    justify-content: space-between;
    position: relative;

    @media (max-width: 1139px){
        padding-left: 30px;
        padding-right: 30px;
        flex-direction: column;
    }

    @media (max-width: 767px){
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 30px;
    }
}

.contacts-photo{
    width: 570px;
    height: 638px;
    border-radius: 50px;
    overflow: hidden;

    @media (max-width: 1139px){
        width: 690px;
        height: 638px;
        object-fit: cover;
        position: absolute;
        top: 142px;
    }

    @media (max-width: 767px){
        width: 346px;
        height: 320px;
        top: 82px;
        border-radius: 25px;
    }
}

.contacts-title{
    font-family: 'Gill Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 50px;
        line-height: 58px;
        color: #525051;

        @media (max-width: 1139px) {
            font-size: 36px;
                line-height: 42px;
        }

        @media (max-width: 767px){
            font-size: 24px;
                line-height: 28px;
        }
}

.contacts-list{
    margin-top: 60px;
    width: 380px;

    @media (max-width: 1139px){
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        margin-top: 758px;
    }

    @media (max-width: 767px) {
        margin-top: 390px;
    }
}

.contacts-list-item{
    &:not(:first-child){
        margin-top: 30px;

        @media (max-width: 1139px) {
            margin-top: 0;
        }
    }

    &:nth-child(n+3) {
        @media (max-width: 1139px) {
                margin-top: 30px;
            }
        @media (max-width: 767px){
            margin-top: 0;
        }
    }

    @media (max-width: 1139px){
        width: 330px;
    }

    @media (max-width: 767px){
        &:not(:first-child){
            margin-top: 30px;
        }
    }
}

.contacts-list-item-title{
font-family: 'Gill Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 35px;
    color: #525051;
    margin-bottom: 14px;

    @media (max-width: 767px) {
        margin-bottom: 0;
        line-height: 30px;
    }
}

.contacts-list-item-text{
    font-family: 'Gill Sans';
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 35px;
        color: #525051;

            @media (max-width: 767px) {
                    line-height: 30px;
                }
}

.contacts-link{
    font-family: 'Gill Sans';
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 35px;
        color: #525051;
        text-decoration: underline;
}

.page-contacts-social-list{
    display: flex;
    margin-top: 14px;
}

.page-contacts-social-list-item{
    &:not(:first-child){
        margin-left: 14px;
    }
}

.page-contacts-social-list-link{
    width: 30px;
    height: 30px;
    background-color: #B57B49;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
