@import '../../utils/variables';
@import '../checkout/old-buyer';
@import '../shop/shop';
@import '../index/popular';
@import '../checkout/checkout';

.item-product-card {
    display: block;
    position: relative;
    width: 255px;
    height: 735px;

    // &:nth-child(n+4) {
    //     margin-top: 30px;
    // }
}

.item-product-card-image {
    display: block;
    width: 255px;
    height: 307px;
    border-radius: 40px;
    background-color: $card-color;
}

.item-product-card-rating-wrap {
    @extend .product-card-rating-wrap;

    @media (max-width: 767px) {
        position: absolute;
        bottom: -270px;
    }
}


.item-product-card-reviews {
    @extend .product-card-reviews;
    text-decoration: underline;
}


.item-product-card-buy-text {
    @extend .product-card-buy-text;

    @media (max-width: 767px){
        display: block;
    }
}


.item-product-card-meta-weight-variants {
    @extend .product-card-meta-weight-variants;
    // left: 14px;
    top: 0;
    right: 0;
    z-index: 995;
    width: 124px;

    @media (max-width: 1139px){
        width: 324px;
    }
}

.item-product-card-meta-weight-variants-item {
    width: 124px;
    background-color: #FFFFFF;
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
     transform: translateY(100%);
     z-index: 995;

    &:hover {
            background-color: rgba(82, 80, 81, 0.1);
        }
    @media (max-width: 767px){
        width: 164px;
    }
}


.item-checkout-select {
    position: relative;
    width: 540px;
    margin-top: 14px;

    @media (max-width: 1139px){
        width: 100%;
    }
}

.item-checkout-select-button {
    @extend .checkout-select-button;
    width: 540px;
    padding-left: 26px;

        @media (max-width: 1139px) {
                width: 100%;
            }
}


.item{
    padding-left: 165px;
    padding-right: 165px;
    padding-top: 60px;

    @media (max-width: 1139px){
        padding-left: 30px;
        padding-right: 30px;
    }

    @media (max-width: 767px) {
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 30px;
    }

}

.item-info{
    display: flex;
    justify-content: space-between;
    padding-bottom: 180px;
    border-bottom: 2px solid #B3B2B2;

    @media (max-width: 1139px){
        flex-direction: column;
    }
}

.item-image{
    width: 475px;
    height: 662px;

    @media (max-width: 1139px){
        width: 100%;
        object-fit: cover;
    }

    @media (max-width: 767px){
        height: 332px;
    }
}

.item-image-wrap{
    width: 475px;
    height: 662px;
    background-color: #E7E4D9;
    border-radius: 40px;
    overflow: hidden;
    position: relative;

    @media (max-width: 1139px){
        width: 100%;
    }

    @media (max-width: 767px){
        width: 346px;
        height: 332px;
    }
}

.item-main{
    width: 540px;

    @media (max-width: 1139px){
        width: 100%;
        margin-top: 30px;
    }
}

.item-title{
    font-family: 'Gill Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        line-height: 35px;
        color: #B57B49;

        @media (max-width: 767px){
        font-size: 24px;
            line-height: 28px;
        }
}

.item-description{
    padding: 20px;
    border: 1px solid rgba(82, 80, 81, 0.1);
        border-radius: 20px;
        margin-top: 14px;
}

.item-price{
    font-family: 'Gill Sans';
    display: block;
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        line-height: 35px;
        color: #525051;
    @media (max-width: 767px){
                padding-top: 32px;
                font-size: 24px;
                    line-height: 28px;
    }
}

.item-old-price{
    font-family: 'Gill Sans';
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 18px;
        display: flex;
        align-items: center;
        text-decoration-line: line-through;
        color: #B3B2B2;
        margin-top: 10px;

        @media (max-width: 767px){
            font-size: 16px;
                line-height: 18px;
        }
}

.item-dscription-title{
    font-family: 'Gill Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 30px;
        color: #525051;
}

.item-description-text{
    font-family: 'Gill Sans';
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 35px;
        color: #525051;
        margin-top: 14px;
}

.item-buy{
    width: 100%;
    padding: 14px;
    display: flex;
    justify-content: space-between;
    background-color: #FFFFFF;
    border-radius: 20px;
    align-items: center;
    position: relative;
    margin-top: 14px;

    @media (max-width: 767px){
        flex-direction: column;
    }
}

.item-buy-button{
    @extend .product-card-buy;
    margin: 0;
    width: 250px;
    justify-content: center;

    @media (max-width: 1139px) {
            width: 324px;
        }

        @media (max-width: 767px){
            margin-top: 14px;
        }
}

.item-buy-weight{
    width: 250px;
    height: 59px;
    border: 1px solid #B3B2B2;
        border-radius: 14px;
        background-color: transparent;
        display: flex;
        align-items: center;
        padding: 20px;
        position: relative;

        @media (max-width: 1139px){
            width: 324px;
        }
}

.user-icon{
    width: 65px;
    height: 65px;
    border-radius: 100%;
    background-color: #F6B626;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: 767px){
        width: 51px;
        height: 51px;
    }

}

.user-initials{
    font-family: 'Gill Sans';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 35px;
color: #FFFFFF;

@media (max-width: 767px){
    font-size: 14px;
        line-height: 35px;
}
}

.rewiew-text{
    font-family: 'Gill Sans';
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 20px;
color: #525051;


}

.user-name,
.timestamp{
    font-family: 'Gill Sans';
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 18px;
color: #525051;


}

.user-name{
    margin-left: 30px;
    @media (max-width: 767px) {
        margin-left: 12px;
    }
}

.timestamp{
    margin-left: 10px;
}

.rewiew-head{
    display: flex;
    align-items: center;
}

.rewiew-rating{
    @extend .product-card-rating;
    margin-left: auto;
}

.rewiew-text{
    padding-left: 95px;

    @media (max-width: 767px){
        padding-left: 64px;
    }
}

.item-rewiew{
    &:not(:first-child){
        margin-top: 30px;
    }
}

.rewiews{
    padding-top: 30px;
    padding-bottom: 30px;
    border-top: 1px solid #525051;
    border-bottom: 1px solid #525051;
    margin-top: 30px;
}

.item-meta{
    margin-top: 30px;
    display: flex;
}

.item-cathegory,
.item-cathegory-name,
.item-code{
    font-family: 'Gill Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px; 
    color: #525051;
}

.item-cathegory-name{
    text-decoration: underline;
}

.item-code{
    margin-left: 145px;
}

.rewiews-download-more{
    width: 100%;
    height: 59px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 1px solid #525051;
border-radius: 14px;
    margin-top: 30px;
}

.rewiews-download-more-text{
    font-family: 'Gill Sans';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 19px;
letter-spacing: 0.03em;
color: #525051;
margin-right: 10px;
}

.rewiews-download-more-icon{
    fill: #525051;
}

.rewiew-author-name{
    width: 255px;
    height: 59px;
    background-color: transparent;
    border: 1px solid #525051;
    border-radius: 14px;
    font-family: 'Gill Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    color: #525051;
    padding: 20px;

    &::placeholder{
        color: #B3B2B2;
    }

    &.error{
        margin: 0;
        border-color: #FF0000;
    }

    @media (max-width: 1139px){
        width: 330px;
    }


    
}

.new-rewiew-title{
    font-family: 'Gill Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    color: #525051;
}

.new-rewiew{
    margin-top: 30px;
}

.new-rewiew-author{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;

    @media (max-width: 767px){
        flex-direction: column;
    }
}


.rewiew-author-name-wrap{
    @media (max-width: 767px){
        margin-top: 14px;
    }
}

.error-text{
    font-family: 'Gill Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 35px; 
    color: #FF0000;
    margin-left: 10px;
}

.error{
    display: flex;
    align-items: center;
    margin-top: 14px;
}

.rewiew-author-email{
    @extend .rewiew-author-name;
    width: 100%;
    margin-top: 14px;
}

.new-rewiew-text{
    @extend .rewiew-author-email;
    height: 240px;
    overflow: auto;
    text-align: start;
}

.item-grade{
    display: flex;
    align-items: center;
    margin-top: 14px;
}

.item-grade-title{
    font-family: 'Gill Sans';
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 18px;
color: #525051;
margin-right: 12px;

}

.leave-feedback{
    width: 100%;
    height: 59px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F6B626;
    border: none;
    border-radius: 14px;
    margin-top: 14px;

    &:hover{
        cursor: pointer;
    }
}

.leave-feedback-text{
    font-family: 'Gill Sans';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 19px;
letter-spacing: 0.03em;
color: #525051;
margin-right: 10px;
}

.leave-feedback-icon{
    fill:#525051 ;
}

.promotional-goods{
    padding-top: 60px;

    @media (max-width: 1139px){
        display: none;
    }
}

.promotional-goods-title{
    font-family: 'Gill Sans';
font-style: normal;
font-weight: 700;
font-size: 50px;
line-height: 58px;
color: #525051;
}

.promotional-goods-head{
    display: flex;
}

.promotional-goods-pagination{
    @extend .shop-pagination;
    margin: 0;
    margin-left: auto;
}

.promotional-goods-button{
    @extend .shop-pagination-button;

    &:not(:first-child){
        margin-left: 14px;
    }
}

.promotional-goods-list{
    @extend .shop-products-list;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.product-card{
    &.promotional{
        margin: 0;
    }
}

.product-card-promotional{
   @extend .product-card-hit;
   width: 100px;
   background-color: #E65300;
}

.product-card-meta-weight-icon{
    position: absolute;
    right: 14px;
}

.product-card-rating-item{
    position: relative;
        cursor: pointer;
}

.product-card-rating-item input{
position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 100%;
    width: 100%;
}

.rating-checkmark{
    width: 14px;
    height: 13px;
    background-image: url('../../../images/Star-unfill.png');
    background-position: center;
}

.rating-checkbox:checked +.rating-checkmark{
    background-image: url('../../../images/Star-fill.png');
}