@import '../utils/variables';
h1,h2,h3,h4,h5, p{
    margin: 0;
}

a{
    text-decoration: none;

    &:hover{
        text-decoration: none;
    }

    &:focus{
        text-decoration: none;
    }

    &:visited{
        text-decoration: none;
    }
}

ul{
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 0;
    list-style: none;
}

section{
    width: 1440px;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
    background-color: $main-background-color;
}

.container{
    width: 100%;
    padding-left: 145px;
    padding-right: 145px;
}

%title{
    font-family: 'Gill Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 58px;
    color: $main-text-color;
}

.is-hidden{
    display: none;
}