.faq{
    padding-left: 145px;
    padding-right: 145px;
    padding-top: 180px;
    padding-bottom: 180px;
    background-color: $secondary-text-color;
}

.faq-title{
    font-family: 'Gill Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 58px;
    text-transform: uppercase;
    color: $notificatins-color;
}