@import '../components/base';

.footer{
    width: 1140px;
    margin: auto;
    padding-left: 20px;
        padding-right: 20px;
    padding-top: 60px;
    position: relative;
    padding-bottom: 129px;

        @media (max-width: 1139px) {
                width: 768px;
                    padding-left: 15px;
                    padding-right: 15px;
                padding-bottom: 60px;
            }
        @media (max-width: 767px) {
            width: 375px;
            padding-left: 10px;
            padding-right: 10px;
        }
}

.footer-main{
    display: flex;
    justify-content: space-between;

    @media (max-width: 767px){
        flex-direction: column;
    }
}

.footer-slogan{
    width: 350px;
    height: 482px;
    background-image: url('../../images/bg\ \(3\).png');
    padding-left: 60px;
    padding-right: 88px;
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 50px;
    background-repeat: no-repeat;

    @media (max-width: 1139px) {
        width: 241px;
        height: 436px;
        padding: 30px;
    }

    @media (max-width: 767px){
        width: 100%;
        height: 292px;
        background-size: 120%;
        background-position: left -60px top -220px;
        border-radius: 30px;
    }

}

.foote-sloga-text{
    font-family: 'Gill Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 25px;
    color: $secondary-text-color;

    @media (max-width: 1139px){
        font-size: 18px;
            line-height: 21px;
    }

    @media (max-width: 767px){
        width: 50%;
    }
}

.footer-nav{
    position: relative;
    width: 730px;
    height: 482px;
    background-color: $buttons-color;
    border-radius: 50px;
    margin-left: 30px;
    padding-top: 60px;
    padding-left: 65px;
    padding-bottom: 60px;
    padding-right: 60px;

    @media (max-width: 1139px){
        width: 465px;
        height: 436px;
        padding: 30px;
    }

    @media (max-width: 767px) {
        width: 100%;
        margin-left: 0;
        margin-top: 14px;
        border-radius: 30px;
    }
}

.footer-nav-list{
    display: flex;
}

.footer-nav-list-item{
    &:first-child{
        margin-right: 120px;

        @media (max-width: 1139px){
            margin-right: 38px;
        }
    }

    &:last-child{
        margin-left: 150px;

        @media (max-width: 1139px) {
            margin-left: 30px;
        }
    }

    @media (max-width: 767px){
        &:first-child{
            position: absolute;
            left: 30px;
            top: 30px;
        }

        &:nth-child(2){
            position: absolute;
            top: 30px;
            left: 191px;
        }

        &:nth-child(3){
            position: absolute;
            margin: 0;
            left: 30px;
            top: 135px;
        }

    }
}

.footer-nav-list-item-title{
    font-family: 'Gill Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    color: $secondary-text-color;
}

.footer-nav-link{
    font-family: 'Gill Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 35px;
    color: $secondary-text-color;
}

.footer-payment-list{
    display: flex;
}

.footer-payment-list-item{
    &:first-child{
        margin-right: 13px;
    }
}

.footer-payment-button{
    border:none;
    padding: 0;
    background-color: transparent;
}

.footer-icon-set{
    display: flex;
}

.footer-nav-meta{
    display: flex;
    justify-content: space-between;
    margin-top: 81px;

    @media (max-width: 767px){
        width: 85%;
        position: absolute;
        bottom: 30px;
    }
}

.footer-icon-set-item{
    &:not(:first-child){
        margin-left: 2px;
    }
}

.footer-icon{
    fill: #FFFFFF;
}

.footer-different{
    display: flex;
    margin-top: 61px;
    justify-content: space-between;

    @media (max-width: 1139px){
        margin-top: 30px;
    }

    @media (max-width: 767px){
        position: relative;
        flex-direction: column-reverse;
        margin-top: 14px;
    }
}

.footer-legal{
    display: flex;
}

.footer-copy-right{
    font-family: 'Gill Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 35px;
    color: $main-text-color;

    @media (max-width: 1139px){
        font-size: 14px;
            line-height: 25px;
    }

    @media (max-width: 767px) {
        margin-top: 14px;
    }
}

.footer-legal-link{
    font-family: 'Gill Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 35px; 
    color: $main-text-color;

        @media (max-width: 1139px) {
                font-size: 14px;
                line-height: 25px;
            }
}

.footer-legal-item:first-child::after{
    content: '/ ';
    margin-left:10px;
    margin-right: 10px;
}

.footer-rewind-button{
    width: 73px;
    height: 37px;
    border: none;
    background-color: $secondary-text-color;
    border-radius: 14px;

    @media (max-width: 767px){
        position: absolute;
        right: 0;
        width: 64px;
        height: 25px;
        background-color: #7CB227;
        transform: translateY(100%);
    }
}

.footer-rewind-button-icon{
    fill: $buttons-color;
    @media (max-width: 767px) {
        fill: #FFFFFF;
        }
}