.header-wrap{
    @extend section;
    margin:auto;
    padding-top: 40px;
    overflow: visible;
    
    @media (max-width: 767px){
        overflow-y: auto;
        position: static;
    }
}

.header {
    display: flex;
    margin: auto;
    width: 1140px;
    background-color: #F4F4ED;
    border: 1px solid #E7E4D9;
    border-radius: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: center;
    justify-content: space-between;
    

        @media (max-width: 1139px) {
                width: 720px;
                justify-content: flex-start;
            }
        
            @media (max-width: 767px) {
                width: 346px;
                    padding-left: 15px;
                        padding-right: 15px;

            }
}

.header-company-logo {
    @media(max-width: 767px) {
        width: 44px;
        height: 44px;
    }
}

.header-nav {
    display: flex;

        @media(max-width: 1139px) {
                margin-left: 84px;
            }
        
            @media(max-width: 767px) {
                position: absolute;
                width: 346px;
                height: 400px;
                flex-direction: column;
                background-color: #F4F4ED; 
                z-index: 9999;
                margin-left: 0;
                top: 118px;
                padding-top: 20px;
                left: 50%;
                transform: translateX(-50%);
                border: 1px solid #E7E4D9;
                border-top: none;
                border-radius: 20px;
                align-items: center;
                display: none;
            }
}

.header-nav-item {
    display: flex;
    align-items: center;
    justify-content: center;



    &:not(:first-child) {
        margin-left: 30px;

        @media (max-width: 1139px) {
                margin-left: 20px;
            }
        @media (max-width: 767px){
            margin-left: 0;
            text-align: center;
        }
    }

        &:nth-child(2) {
            margin: 0;
        }

}


.header-nav-link-text {
    font-family: 'Gill Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 35px;
    color: $main-text-color;

        @media (max-width:1139px) {
                font-size: 14px;
            }
}

.header-user {
    display: flex;

            @media (max-width:1139px) {
                    margin-left: auto;
                }
            @media (max-width: 767px){
                margin-left: 0;
            }
}

.header-user-item:first-child {
    margin-right: 30px;

    @media (max-width: 1139px){
        margin-right: 14px;
    }

    @media (max-width: 767px){
        margin-right: 0;
        position: absolute;
        top: 449px;
        left: 50%;
        transform: translateX(-50%);
        width: 306px;
        z-index: 999999;
        background-color: #F6B626;
        border-radius: 14px;
        display: none;
    }
}

.header-user-link {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border: none;
    background-color: transparent;
    width: 100%;
    height: 100%;
}

.header-user-text {
    margin-left: 10px;
    font-family: 'Gill Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 35px;
    color: $main-text-color;

        @media(max-width: 1139px) {
                display: none;
                margin: 0;
            }

    @media (max-width: 767px){
        &.enter{
            display: block;
        }
    }  
}

.header-user-icon {
    stroke: $section-color;

    @media (max-width: 767px){
        &.enter{
            stroke: $main-text-color;
        }
    }
}

.header-shop-button {
    padding: 0;
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.header-shop-button-icon {
    fill: $section-color;
    margin-left: 10px;
}

.header-shop-nav {
    position: absolute;
    top: 10px;
    left: 340px;
    transform: translateY(calc(100% + 1px));
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    overflow: hidden;
    z-index: 9999;

        @media (max-width: 1139px) {
                left: 140px;
            }

        @media (max-width: 767px) {
            position: static;
            display: flex;
            transform: none;
            border: none;
            box-shadow: none;
        }

    &.is-hidden {
        width: 1px;
        height: 1px;
        display: none;
        left: -1000%;
    }
}

.header-shop-nav-link {
    width: 168px;
    height: 66px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F4F4ED;

    &:hover {
        background-color: rgba(82, 80, 81, 0.1);
    }

    @media (max-width: 767px){
        width: 120px;

    }
}

.header-shop-nav-link-icon {
    margin-right: 10px;

    &.dog {
        fill: #B57B49;
    }

    &.cat {
        fill: #81C3D7;
    }
}

.header-shop-nav-link-text {
    font-family: 'Gill Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #525051;

    @media (max-width: 767px){
                font-size: 14px;
                    line-height: 16px;
    }
}

.header-user-added-products {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: #7CB227;
    font-family: 'Gill Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #F4F4ED;
    transform: translateY(50%);
    left: -10px;
}

.header-user-icon-wrap {
    width: 43px;
    height: 44px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;

    &.enter {
        background-color: rgba(179, 178, 178, 0.2);
    }

    &.bag {
        background-color: rgba(246, 182, 38, 0.2);
    }


}

.header-adress{
    display: flex;
    align-items: center;
    padding-left: 145px;
    margin-top: 60px;
    

    @media (max-width: 1139px){
        padding-left: 35px;
    }

    @media (max-width: 767px){
        padding-left: 15px;
        margin-top: 30px;
        overflow: scroll;
        width: max-content;
    }
}


.header-adress-item{
    width: max-content;
}

.header-adress-item:not(:last-child){
    &::after{
        content: '>';
        color: #F6B626;
        font-family: 'Gill Sans';
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 35px;
        margin-left: 14px;
        margin-right: 14px;

        @media (max-width: 767px){
                        font-size: 14px;
                            line-height: 25px;
        }
    }
}

.header-adress-link{
    font-family: 'Gill Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 35px;
    color: $main-text-color;
    white-space: nowrap;
    @media (max-width: 767px) {
            font-size: 14px;
                line-height: 25px;
        }
}

.mobile-header-menu-open,
.mobile-header-menu-close{
    margin: auto;
    background-color: transparent;
    border: none;

    @media (min-width: 768px){
        display: none;
    }
}

.header-shop-nav-item{
    display: flex;
    align-items: center;
    @media (max-width: 767px){
        &:first-child::after{
            content: "";
            display: block;
            width: 1px;
            height: 30px;
            margin-left: 10px;
            margin-right: 10px;
            background-color: #B3B2B2;
        }
    }
}