@import '../404/404';

.succes-order{
    @extend .wrong-page;
}

.succes-order-notification{
    @extend.wrong-page-notification;
    background-image: url('../../../images/succes-bg.png');

    @media (max-width: 1139px) {
        background-image: url('../../../images/succes-bg-tab.png');
    }

    @media (max-width: 767px) {
        background-position: top 0 right 0;
    }
}

.succes-notification-text{
    @extend .wrong-page-notification-text;
}

.order-number{
    @extend .wrong-page-error;
}

.succes-order-link-wrap{
    @extend .wrong-page-link-wrap;
}