.checkout-payment{
    width: 100%;
    padding-top: 30px;
    border-top: 1px solid #B3B2B2;
}

.checkout-payment-text{
    font-family: 'Gill Sans';
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 35px;
        color: #525051;
}