.total-check{
    width: 351px;
    padding: 30px;
    border: 2px dashed #525051;
        border-radius: 40px;
        margin-top: 14px;

        @media (max-width: 1139px) {
                width: 100%;
            }
}

.total-check-title{
    font-family: 'Gill Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 35px;
        color: #525051;
        margin-bottom: 14px;
}

.total-check-cathegory-title{
    font-family: 'Gill Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 35px;
        color: #B3B2B2;
}

.total-check-cathegory-value{
    font-family: 'Gill Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 35px;
        color: #525051;
}

.total-check-cathegory-value-total{
            font-family: 'Gill Sans';
                font-style: normal;
                font-weight: 700;
                font-size: 18px;
                line-height: 35px;
                color: #525051;
}

.total-check-cathegory{
    display: flex;
    justify-content: space-between;

    &:not(:first-child){
        margin-top: 14px;
    }
}

.total-check-summ{
    margin-top: 14px;
    border-top: 1px solid #B3B2B2;
    border-bottom: 1px solid #B3B2B2;
    padding-top: 14px;
    padding-bottom: 14px;
    display: flex;
    justify-content: space-between;
}

.order-confirm-button{
    width: 100%;
    height: 59px;
    border: none;
    background-color: #F6B626;
        border-radius: 14px;
        margin-top: 14px;
        display: flex;
        align-items: center;
        justify-content: center;
}

.order-confirm-button-text{
    font-family: 'Gill Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        color: #525051;
        margin-right: 10px;
}

.order-confirm-button-icon{
    fill: #525051;
}