.page img {
    margin-bottom: 60px;
    object-fit: cover;
    width: 1110px;
    height: 320px;
    border-radius: 40px;

    @media (max-width: 1139px){
        width: 690px;
        height: 267px;
    }

    @media (max-width: 767px){
        width: 346px;
        height: 133px;
        border-radius: 25px;
        margin-bottom: 30px;
    }
}

.page a{
    color: rgba(246, 182, 38, 1);
    text-decoration: underline;
}

