.payment{
    padding-left: 165px;
    padding-right: 165px;
    padding-top: 60px;
}

.payment-title{
    font-family: 'Gill Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 50px;
        line-height: 58px;
        color: #525051;
        margin-bottom: 60px;
}

.delivery-hero{
    display: flex;
    justify-content: space-between;
}

.delivery-payment-image{
    width: 825px;
    height: 320px;
    border-radius: 50px;
    overflow: hidden;
}

.delivery-alert{
    width: 252px;
    height: 320px;
    border: 2px dashed #1C1919;
    border-radius: 40px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.delivery-alert-text{
    font-family: 'Gill Sans';
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 35px;
        color: #525051;
}

.delivery-alert-accent-text{
    font-family: 'Gill Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 35px;
        color: #1C1919;
}

.give-four-button{
    width: 172px;
    height: 59px;
    border-radius: 14px;
    background-color: #F6B626;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.give-four-button-text{
    font-family: 'Gill Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0.03em;
        color: #1C1919;
        margin-right: 10px;
}

.give-four-button-icon{
    fill: #1C1919;
}

.payment-group-title{
    font-family: 'Gill Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        line-height: 35px;
        color: #525051;
        margin-top: 60px;
}

.payment-text{
    font-family: 'Gill Sans';
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 35px;
        color: #525051;
        width: 824px;

        &.info{
            margin-top: 14px;
        }
}

.payment-text-accent{
    font-family: 'Gill Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 35px;
        color: #525051;
}

.payment-text-list{
    margin-top: 60px;
}

.payment-text-list-item{
    &:not(:first-child){
        margin-top: 60px;
    }
}

.delivery-payment-list-item:first-child{
    margin-bottom: 60px
}