
.payment{
    padding-left: 165px;
    padding-right: 165px;
    padding-top: 60px;
    position: relative;

        @media (max-width: 1139px) {
                padding-left: 30px;
                padding-right: 30px;
                padding-bottom: 280px;
                overflow: visible;
            }
        
            @media (max-width: 767px) {
                padding-left: 15px;
                padding-right: 15px;
                padding-top: 30px;
            }
}

.payment h2{
    font-family: 'Gill Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 50px;
        line-height: 58px;
        color: #525051;
        margin-bottom: 60px;

    @media (max-width: 1139px) {
        font-size: 36px;
            line-height: 42px;
        }

    @media (max-width: 767px){
        font-size: 24px;
            line-height: 28px;
            margin-bottom: 30px;
    }
}

.payment li{
    @media (max-width: 1139px){
        width: 100%;
    }
}

.delivery-hero{
    display: flex;
    justify-content: space-between;
}

.payment img{
    width: 825px;
    height: 320px;
    border-radius: 50px;
    overflow: hidden;

    @media (max-width: 1139px){
    width: 690px;
        height: 267px;
        object-fit: cover;
    }

    @media (max-width: 767px){
        width: 346px;
        height: 133px;
        border-radius: 25px;
    }
}

.delivery-alert{
    width: 252px;
    height: 320px;
    border: 2px dashed #1C1919;
    border-radius: 40px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;

    @media (max-width: 1139px){
        position: absolute;
        bottom: 0;
        width: 689px;
        height: 220px;
        padding: 30px;
    }

    @media (max-width: 767px){
        width: 345px;
        height: 210px;
        padding: 20px;
    }
}


.delivery-alert-text{
    font-family: 'Gill Sans';
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 35px;
        color: #525051;
}

.delivery-alert-accent-text{
    font-family: 'Gill Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 35px;
        color: #1C1919;
}

.give-four-button{
    width: 172px;
    height: 59px;
    border-radius: 14px;
    background-color: #F6B626;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 999;
    bottom: 20px;

    &:hover{
        background-color: #1C1919;
        cursor: pointer;
    }

    &:hover .give-four-icons-wrap{
        display: block;
    }

    @media (max-width: 1139px){
        width: 92%;
    }

    @media (max-width: 767px){
        width: 305px;
    }

}

.give-four-button-text{
    font-family: 'Gill Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0.03em;
        color: #1C1919;
        margin-right: 10px;

        .give-four-button:hover & {
            color: #F6B626;
        }
}

.give-four-button-icon{
    fill: #1C1919;

    .give-four-button:hover & {
            fill: #F6B626;
        }
}

.payment h3{
    font-family: 'Gill Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        line-height: 35px;
        color: #525051;
        margin-top: 60px;
        margin-bottom: 14px;

        @media (max-width: 767px){
            margin-top: 30px;
            font-size: 24px;
                line-height: 28px;
        }
}

.payment p{
    font-family: 'Gill Sans';
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 35px;
        color: #525051;
        width: 824px;

        &.info{
            margin-top: 14px;
        }

        @media (max-width: 1139px){
            width: 100%;
        }

}


.payment span{
    font-family: 'Gill Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 35px;
        color: #525051;
}

.payment ol{
    margin-top: 60px;
    list-style: none;
        padding-inline-start: 0;
}

ol li{
    &:not(:first-child){
        margin-top: 60px;
    }
}

.payment ul li:first-child{
    margin-bottom: 60px
}

.give-four-first-paw {
    fill: #F6B626;
    position: absolute;
    top: -153px;
    left: 0;
    transform: translateX(-60%);

    @media (max-width: 1139px){
        top: -113px;
    }

    @media (max-width: 767px){
        top: -50px;
    }
}

.give-four-second-paw {
    fill: #F6B626;
    position: absolute;
    left: 72px;
    top: -110px;

    @media (max-width: 1139px) {
            top: -113px;
            left: 204px;
        }

    @media (max-width: 767px) {
        top: -73px;
            left: 104px;
    }
}

.give-four-third-paw {
    fill: #F6B626;
    position: absolute;
    left: -127px;
    top: -20px;

    @media (max-width: 1139px) {
        left: -50px;
        top: 80px;
        }

         @media (max-width: 767px) {
             top: 50px;
             left: -60px;
         }
}

.give-four-fourth-paw {
    fill: #F6B626;
    position: absolute;
    left: -38px;
    top: 151px;

    @media (max-width: 1139px) {
        top: 200px;
        left: 40px;
        }

    @media (max-width: 767px) {
        top: 160px;
        left: -20px;
    }
}

.give-four-fifth-paw {
    fill: #F6B626;
    position: absolute;
    top: 161px;
    right: -67px;

    @media (max-width: 1139px) {
            right: 0;
            top: 101px;
        }

    @media (max-width: 767px) {
            right: -15px;
                top: 61px;
    }
}

.give-four-six-paw {
    fill: #F6B626;
    position: absolute;
    left: 63px;
    bottom: -94px;

    @media (max-width: 1139px) {
            left: 364px;
            bottom: -74px;
        }
    @media (max-width: 767px) {
    left: 180px;
        bottom: -44px;
    }
}

.give-four-first-paw,
.give-four-second-paw,
.give-four-third-paw,
.give-four-fourth-paw,
.give-four-fifth-paw,
.give-four-six-paw {
    transform: rotate(17deg);
    z-index: 999;
}

.give-four-icons-wrap{
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;

    transition-property: opacity;
    transition-duration: 750ms;
    transition-timing-function: linear;
    transition-delay: 0;
}