.wrong-page {
    padding-left: 145px;
    padding-right: 165px;
    padding-top: 60px;
    display: flex;
    justify-content: space-between;

        @media (max-width: 1139px) {
                padding-left: 30px;
                padding-right: 30px;
            }

    @media (max-width: 767px){
        padding-left: 15px;
        padding-right: 15px;
        flex-direction: column;
    }
}

.wrong-page-notification {
    width: 730px;
    height: 200px;
    background-color: #B57B49;
    border-radius: 40px;
    background-image: url('../../../images/404-bg.png');
    padding-left: 60px;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;

        @media (max-width: 1139px) {
                width: 465px;
                height: 235px;
                background-size: auto;
                padding-left: 45px;
                background-image: url('../../../images/404-bg-tab.png');
            }

            @media (max-width: 767px){
                width: 346px;
                height: 154px;
                background-size: contain;
                background-position: bottom 0 left 50px;
                padding: 30px;
                border-radius: 20px;
            }
}

.wrong-page-notification-text {
    font-family: 'Gill Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        line-height: 35px;
        color: #F6B626;

        @media (max-width: 1139px) {
                width: 300px;
            }

        @media (max-width: 767px){
            font-size: 24px;
                line-height: 28px;
                width: 250px;
        }
}

.wrong-page-error {
    font-family: 'Gill Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    color: #FFFFFF;
    margin-top: 10px;

    @media (max-width: 767px) {
            font-size: 24px;
            line-height: 28px;

        }
}

.wrong-page-link-wrap {
    width: 350px;
    height: 200px;
    border: 2px dashed #525051;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;


    @media (max-width: 1139px) {
            width: 235px;
            height: 235px;
        }

    @media (max-width: 767px) {
        width: 346px;
        height: 90px;
        margin-top: 30px;
    }
}

.to-main-link {
    font-family: 'Gill Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 35px;
    text-decoration-line: underline;
    color: #525051;
}