@font-face {
    font-family: 'Gill Sans';
    src: url('../../fonts/GillSansNova-Light.woff2');
    font-weight: 300;
}

@font-face {
    font-family: 'Gill Sans';
    src: url('../../fonts/GillSansNova-Medium.woff2');
    font-weight: 400;
}

@font-face {
    font-family: 'Gill Sans';
    src: url('../../fonts/GillSansNova-Bold.woff2');
    font-weight: 600;
}

@font-face {
    font-family: 'Gill Sans';
    src: url('../../fonts/GillSansNova-Heavy.woff2');
    font-weight: 700;
}