.faq{
    background-color: #F4F4ED;
    padding-top: 60px;
    padding-bottom: 0;
}

.faq-title{
    font-family: 'Gill Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 50px;
        line-height: 58px;
        color: #525051;
        text-align: left;

        @media (max-width: 1139px){
            font-size: 36px;
                line-height: 42px;
        }

        @media (max-width: 767px){
        font-size: 24px;
            line-height: 28px;
        }
}

.faq-questions-list{
    margin: 0;
}

.faq-page-questions{
    margin-top: 60px;

    @media (max-width: 767px) {
        margin-top: 30px;
        }
}

.faq-page-questions-item{
    &:not(:first-child){
        margin-top: 60px;
    }
}