.gallery{
    
    width: 100%;
    padding: 0;
    overflow: hidden;
}

.gallery-icons-set{
    padding-left: 515px;
    padding-top: 39px;
    padding-bottom: 41px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.1);

    @media (max-width: 1139px){
        padding-left: 199px;
    }

    @media (max-width: 767px){
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 99px;
    }
}

.gallery-icons-set-list{
    display: flex;
}

.gallery-icons-set-list-item:not(:first-child){
    margin-left: 80px;

    @media (max-width: 767px){
        margin-left: 40px;
    }
}

.gallery-icons-list{
    display: flex;
}

.gallery-icon{
    fill: #F6B626;

    @media (max-width: 767px){
        width: 36px;
        height: 30px;
    }
}

.gallery-icons-list-item:not(:first-child){
    margin-left: 80px;

        @media (max-width: 767px) {
                margin-left: 40px;
            }
}

.gallery-main{
    background-color: #F6B626;
    padding-left: 355px;
    padding-top: 60px;
    padding-bottom: 180px;
    position: relative;

    @media (max-width: 1139px){
        padding-left: 35px;
        padding-right: 35px;

    }

    @media (max-width: 767px){
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 30px;
        padding-bottom: 100px;
    }
}

.gallery-photo{
    width: 730px;
    height: 400px;
    border-radius: 40px;

    @media (max-width: 1139px){
        width: 690px;
    }

    @media (max-width: 767px){
        width: 346px;
        height: 300px;
        object-fit: cover;
        
    }
}

.gallery-list{
    display: flex;
    width: 100%;
}

.gallery-card{
    position: static;
    &:not(:last-child) {
            margin-right: 120px;
        }
    width: 730px;

    @media (max-width: 1139px) {
        width: 690px;
    }

    @media (max-width: 767px) {
        width: 346px;
    }

    transition-property: transform, opacity;
    transition-duration: 500ms;
    transition-delay: 0;
    

    &.hidde{
        position: absolute;
        transform: translateX(-100%);
        opacity: 0;
    }
}

.gallery-card-text{
    font-family: 'Gill Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    color: #FFFFFF;
    margin-top: 30px;

    @media (max-width: 767px){
        font-size: 24px;
            line-height: 28px;
    }
}

.gallery-card-author{
    display: block;
    font-family: 'Gill Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 35px;
    color: #FFFFFF;
    margin-top: 30px;

    @media(max-width: 767px){
        font-size: 18px;
            line-height: 30px;
            margin-top: 14px;
    }
}

.gallery-nav-buttons{
        margin-top: 60px;
        display: flex;
}

.gallery-nav-button{
    width: 67px;
    height: 53px;
    border: 2px solid #FFFFFF;
    border-radius: 14px;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;

    &.active{
        background-color: transparent;
    }
}

.gallery-nav-buttons-item{
    &:not(:first-child) {
            margin-left: 14px;
        }
}

.gallery-button-icon{
    fill: rgba(246, 182, 38, 1);

    &.active{
        stroke: #FFFFFF;
    }
}

.gallery-vertical-paw-big{
    transform: rotate(131.75deg);
    fill: #FFFFFF;
}

.gallery-vertical-paw-small{
    transform: rotate(118.86deg);
    fill: #FFFFFF;
}

.gallery-vertical-paws-item:not(:first-child){
    margin-top: 10px;
}

.gallery-vertical-paws{
    position: absolute;
    top: 197px;
    left: 90px;

    @media (max-width: 1139px){
        display: none;
    }
}

.gallery-gorizontal-paws{
    display: flex;
    align-items: flex-end;
    position: absolute;
    bottom: 8px;
    left: 806px;

    @media (max-width: 1139px) {
        left: 376px;
    }

    @media (max-width: 767px){
        left: 290px;
        bottom: 118px;
    }
}

// .gallery-gorizontal-paws-item:not(:first-child){
//     margin-left: 30px;
// }

.gallery-gorizontal-paw-big{
    transform: translateY(-41px);
    fill: #FFFFFF;

    @media (max-width: 767px){
        width: 59px;
        height: 49px;
        transform: translateY(-21px);
    }
}

.gallery-gorizontal-paw-small{
fill: #FFFFFF;

    @media (max-width: 767px) {
            width: 46px;
            height: 39px;
        }
}